[2018-02-07 20:28] antstorm commented on #747
@Sumukh so with `no_cents_if_whole` you'd expect not to have `.00` part, right?

[2018-02-07 21:22] Sumukh commented on #747
@antstorm - Whoops, sorry yeah. It should say `# Expected: "₹2,00,000"`

[2018-02-07 22:21] antstorm commented on #747
Oh, right, I see what the problem is. Here's a quick solution — #748 , but it needs a better long term fix

[2018-02-15 00:09] #747 closed

[2018-02-26 03:14] renemendoza opened #753 "usd 4 decimal"
i need to support very small USD prices. 0.00NN in USD currency, but USD currency is only storing two decimal digits, how do i alter the USD currency without defining a new one?

thanks

[2018-02-26 09:05] antstorm commented on #753
@renemendoza you can register USD currency with the same attributes (but with a desired precision), which will override the default one

[2018-02-26 09:17] printercu commented on #753
`Money.infinite_precision = true` can work for you, if you are ok with more precise values.

[2018-03-21 21:52] wassimk opened #757 "Add a sign_negative to format method for not showing negative sign"
I have a negative amount that I wish to not display the negative symbol when calling format. I recommend a `sign_negative` option for `format`.

[code]

[2018-03-22 02:14] printercu commented on #757
Does not `money.abs.format` work for you?

[2018-03-23 20:49] wassimk commented on #757
Yes, that worked 👍  @printercu.

Thoughts on if `sign_negative` should exist too?

[2018-03-24 01:58] printercu commented on #757
Following Okkam's razor principle, i think new option should not be added, while same behavior can be achieved with existing features.

[2018-03-28 00:38] TJmoney commented on #757
G

[2018-04-09 10:36] rajdeep26 opened #762 "to_money not working as expected when precision is skipped?"
Hi Guys,

We are using money gem. Version 6.7.1

I have noticed a difference in how #to_money works with or without precision
[code]
vs
[code]
Isn't this wrong?

The issue might be because "CRC" has a dot `"."` as the thousand separator and comma `","` as decimal mark

NOTE: I am willing to raise a PR if this is an issue. Just let me know what to do.

[2018-04-10 05:03] rajdeep26 commented on #762
Thanks for confirming that. I will try to raise a PR for this.

[2018-04-25 06:40] fwolfst opened #764 "(Documentation) links in README are wrong"
In the Formatting subsection of the README the links to the formatting.rb module and the rdoc are wrong. Excuse me but no time for a PR.

[2018-04-25 11:59] nicoolas25 opened #765 "Infinite precision isn't really infinite"
Hi :wave: !

I wanted to ask you if they was any workarounds for this loss of precision in divisions:

[code]

Because even BigDecimal can't represent the `100/3` `Rational` _something_ seems to be lost here. One obvious thing for that example could be to do `Money.new(100, "EUR") * (1 / 3.0) * 3.0` which should semantically be equal to `Money.new(100, "EUR") * ((1 / 3.0) * 3.0)`.

Mabe there is s

[2018-04-26 21:52] antstorm commented on #764
@fwolfst thanks for pointing out! #766 should fix them

[2018-04-26 21:52] #764 closed

[2018-04-26 22:44] antstorm commented on #765
@nicoolas25 this is a really good point. Yes, infinite precision is just a higher precision, it's not really infinite. The problem here is that `BigDecimal` can not handle repeating decimals.

Unfortunately there's no good solution, however you can call `.round(Money.rounding_mode, 17)` on the division result to get `1`. This would sacrifice the precision a bit, but I guess it's ok.

It's also int

[2018-04-26 22:50] antstorm commented on #765
Also when the `infinite_precision` is turned off, you might wanna use the `split` method instead, which ensures that no pennies are lost:

[code]

[2018-05-02 07:09] nicoolas25 commented on #765
Thank you very much @antstorm for your time and insights!

I'm closing this issue as there is nothing to be done here. It will hopefully be useful for someone to troubleshoot the same issue in the future.

[2018-05-02 07:09] #765 closed

[2018-05-02 09:06] antstorm commented on #765
@nicoolas25 no problem, hope this helps!

[2018-05-04 13:38] iGEL opened #769 "Money#to_s now takes i18n rules into account"
With Money 6.10.1, `Money#to_s` would always use a dot as the separator for the amount and cents. With 6.11.2, the it takes the I18n rules into account. This causes problems for us, as the input fields in Rails are now filled suddenly with a comma where we expect a dot. The value is not accepted as a result when I try to save the model again with the value from the input. Simplified:

[code]

The

[2018-05-04 21:46] hmiller-mykey opened #770 "Container for Money of different currencies"
Hello!

Apologies if this is the wrong place to ask this question.

I'm looking for guidance with dealing with multiple currencies.

I have a unique constraint where I always want to keep `Money` of different currency separate(`Money` should never be exchanged). Additionally I want to be able to perform math operations on `Money` with different currency, and have the resultant object that contains

[2018-05-04 22:13] antstorm commented on #769
@iGEL I see the problem, however I'm not sure what is causing it. Here's `to_s` implementation before the change:

[code]

This would always use the decimal mark as defined by the currency. There's also a test to ensure this which hasn't changed for the last 4 years:

[code]

However going even further back, in `#to_s` instead of `currency.decimal_mark`, the `decimal_mark` was calculated like this

[2018-05-04 23:04] antstorm commented on #770
@hmiller-mykey this is a very interesting requirement and I see how that would make sense in some cases. I haven't hard to deal with this so I don't know if any plugins exist, however this shouldn't be hard to implement yourself.

If you want to utilise the `+` you would need to overwrite this on `Money` and instead of returning back an instance of `Money`, return your own object that keeps the tr

[2018-05-04 23:08] antstorm commented on #769
Also the parsing logic should take the decimal mark of the currency into account:

[code]

This is exactly what's happening when you assign a string value to a monetised model attribute. What is exact error that you're getting?

[2018-05-07 08:54] iGEL commented on #769
Ok, I looked deeper into the problem. I didn't knew you took i18n rules into account already.

My current understanding is, that before you took the I18n rules into account if present, otherwise fell back to your own rules I assume. With 6.10.1:
[code]

With 6.11.2:
[code]
Both things I ran in the bundle of my Rails app, but just with irb, so I don't expect any side effects. The i18n rules are ext

[2018-05-07 09:10] iGEL commented on #769
`"5251,22".to_money('EUR')` works in the Rails console, but in my application I get this validation error:
`Validation failed: XXX must be a valid currency (eg. '100', '5.24', or '123,456.78'). Got 800000,00`. I assume it comes from [here](https://github.com/RubyMoney/money-rails/blob/251e8b9e2423ef5b2bf03db1798e297e11843399/config/locales/money.en.yml).

Also, we must use the English formatting r

[2018-05-07 18:32] hmiller-mykey commented on #770
@antstorm This is good stuff. That is how we are planning to implement it.
We are considering whether to make it public or not. Do you think this is something that the community might use, if it was available?

[2018-05-07 21:27] printercu commented on #770
I suggest not to override default implementation, but define separate class like `MultiMoney` or `MoneyCollection`. At least you'll be able to use `Money#+` to sum values with same currency.

PS. You can define internal store like this `@store = Hash.new { |h, currency| h[currency] = Money.new(0, currency) }`. And then use it like `store[money.currency] += money`.

[2018-05-08 09:31] antstorm commented on #770
@hmiller-mykey makes perfect sense to make it public. There's a good chance other people might need a similar solution.

Also @printercu has a really good point of not overriding the default implementation as it normally leads to bugs and confusion. The only problem is you won't be able to use it as a drop-in replacement, but it's all for the greater good.

[2018-05-08 09:45] antstorm commented on #769
@iGEL thanks for posting this. I see where the issues are coming from and will try to figure out how to address them. The easiest option would of course be just rolling back, however I don't think it's the right way to go — this issue needs to be solved at some point, might as well be now.

As an interim solution for your app — would it be possible for you to switch to using `.format` instead of `

[2018-05-08 10:12] iGEL commented on #769
Thanks. We're using 6.10.1 for the time being, and that's no problem. But I'd like to be able to update at some point and currently I only see rather hacky ways.

You're probably aware, but `.format` works as it's supposed without any configuration in 6.11.2:
[code]

[2018-05-08 10:30] printercu commented on #770
How can it be a drop-in replacement, if it would return different result type?

[2018-05-08 21:37] antstorm commented on #769
@iGEL yup, `#to_s` delegates the logic to `#format`, but using a default decimal mark for the currency.

The bigger question here is about the use of `#to_s` vs `#format`. Should both be relying on I18n by default or should `to_s` always return a consistent result, no matter what?

[2018-05-08 22:08] antstorm commented on #769
@iGEL can you also try the https://github.com/RubyMoney/money/pull/771 in your app and see if that fixes the issues you were having?

[2018-05-09 14:17] hmiller-mykey commented on #770
I have began implementing this. `MultiMoney` so far I have added functionality for `+ - * /` operators. `MultiMoney` accepts Money, `MultiMoney` or Integers(depending on the operator) as the operand.

I also made `MultiMoney` hashable, so for example you can do `m_money[:USD]` and it will return nil or the Money at that index.

I also need to create a `monetize` gem that works with `MultiMoney`, f

[2018-05-09 21:38] antstorm commented on #770
@hmiller-mykey sounds great! Btw, why do you need an adopted `monetize` functionality? Are you accepting multi-currency user input?

It would also be useful if you could describe your use cases in a bit more detail.

[2018-05-09 21:59] antstorm commented on #769
Ok, I've published a version with the fix — 6.11.3, should be fine for now. Thanks again for reporting this.

[2018-05-09 21:59] #769 closed

[2018-05-09 22:13] hmiller-mykey commented on #770
I misspoke in my previous post when I said I need to create a `monetize` gem.
What want to do is change the `money-rails` gem so that my attributes setup with `monetize` returns a `MultiMoney` instead of a `Money`.
Do you have any input on that? If I was to create my own implementation of the `money-rails` gem I would potentially lose quite a bit of functionality/have to recreate it.

[2018-05-15 08:08] antstorm commented on #765
@nicoolas25 in case you're still looking for a solution — https://github.com/RubyMoney/money/pull/772. This makes sure that `split` and `allocate` return parts that add up back to the original amount:

[code]

[2018-06-14 22:59] patanachai opened #778 "HUF should have 100 as subunit"
revert of this: https://github.com/RubyMoney/money/issues/677

According to ISO 4217, the HUF currency should have exponent of 2.
I have worked on the app that deals with Google and Apple in-app purchases. The amount in HUF currency that both sent through API is in subunit (fillér).
When I try to convert it to my currency, the library give a wrong output.

For example,
Google sent 100000 UHF, the

[2018-06-15 06:59] ct-clearhaus commented on #778
Please notice https://github.com/RubyMoney/money/pull/742 🙂

[2018-06-17 09:10] antstorm commented on #778
Closing this, bringing the discussion back to #742

[2018-06-17 09:10] #778 closed

[2018-06-18 12:58] iGEL opened #779 "Money.zero creates global state"
We had failing specs and tracked it down to [zero](https://github.com/RubyMoney/money/blob/bbf748a80685646def7c3e2ecf76f543af962ba4/lib/money/money/constructors.rb#L13). It caches the created values, however, the cache is not cleared when the bank changes:

[code]

I'm unsure, whether the you want to remove the cache (is constructing the money object really more expensive than two comparisons and

[2018-06-20 08:59] antstorm commented on #779
@iGEL very good discovery! I would rather steer away from caching when it can be avoided and spend more time optimising how we create these objects.

Just to be sure, let's measure the performance implications of removing the cache first.

[2018-06-21 12:20] libc commented on #638
I'd like to bump this issue. Was surprised by this today.

Code:
[code]

Output:
[code]

[2018-06-27 09:00] antstorm commented on #638
After thinking about this for a bit I agree with all the suggestions of dropping the special handling for `infinite_precision` and always properly rounding. It is expected to loose precision when calling `.round`, so masking it only causes issues. Fix here — #780

[2018-06-28 07:00] antstorm commented on #638
The fix is now in the `master`, feel free to open a new issue in case it doesn't work for you

[2018-06-28 07:00] #638 closed

[2018-07-07 20:49] #779 closed

[2018-07-16 13:40] iGEL commented on #779
Great, thank you!

[2018-07-18 08:10] afdev82 commented on #712
What is the status of this issue? I was searching a way to change the position of the symbol accordingly to the locale too

[2018-07-18 19:33] antstorm commented on #712
@afdev82 as you've noticed, the work on this has started with #783. This would allow us to re-use I18n locales when formatting currencies. I've got a couple more PRs lined up, but help is appreciated in case you've got some spare time

[2018-07-30 13:49] #701 closed

[2018-07-31 08:38] antstorm commented on #701
@maltoe I'm on the lookout for the next change that involves a similar change, so I can implement some sort of a versioning solution for currency definitions that's independent of our main versioning. This way people won't get burnt by upgrading the gem, however would still be able to use new features.

[2018-08-02 14:52] AlexWayfer opened #785 "Confusing README"
Hi.

What the difference between

[code]

and

[code]

?

Why not just turn `i18n` off for `money` when you getting `I18n::InvalidLocale: :en is not a valid locale`?

Screenshot:

![image](https://user-images.githubusercontent.com/6510020/43591764-bb40b542-967c-11e8-9cd0-564f06acae97.png)

Thanks.

[2018-08-02 15:55] peeyushsingla opened #786 "Refactoring to_s method"
Would it be relevant for the project to refactor [to_s](https://github.com/RubyMoney/money/blob/8802d64367b511c6de2fa12fed88209f861b32c5/lib/money/money/formatter.rb#L222) method and divide it into separate blocks?

[2018-08-03 21:44] antstorm commented on #786
@peeyushsingla absolutely! 👍

[2018-08-03 21:44] #786 closed

[2018-08-03 21:53] antstorm commented on #785
@AlexWayfer in a real-world scenario I think it only makes sense to point out that the locale is missing, don't you think? Automatically silencing it might be unexpected. Maybe it's the `use_i18n` that should be disabled by default?

[2018-08-03 21:56] AlexWayfer commented on #785
Oh, thanks, I agree.

But I think this line:

Can be something like:

[2018-08-03 22:02] antstorm commented on #785
@AlexWayfer that is a good point, yes. Got time for a quick PR?

[2018-08-09 08:35] #785 closed

[2018-08-10 20:00] esparratacus opened #790 "NoMethodError: undefined method `extract_rate' for #<Money::Bank::FixerIo:0x005569e524d840>"
This happens when the exchange rate is less than 0.1.
in the **fetch_rate** method there is a call to **extract_rate** method which does not exists. This method is called when the retrieved rate is less than 0.1

**To replicate error**

`Money::Bank::FixerIo.new().get_rate 'COP','PEN'`

executes with error:

`NoMethodError: undefined method 'extract_rate' for #<Money::Bank::FixerIo:0x005569e394bae

[2018-08-11 00:01] mapeveri commented on #728
I sent a PR related to this issue.

[2018-08-11 10:49] antstorm commented on #790
@esparratacus thank you for reporting, but it seems to be an issue with the `FixerIo` bank that you're using. It comes from a separate gem — https://github.com/kaspernj/money-fixer-io. Can you please raise this issue on that repo instead?

[2018-08-11 10:49] #790 closed

[2018-08-15 12:14] mtmail opened #797 "Baltic states use Euro"
https://en.wikipedia.org/wiki/History_of_the_euro#Baltic_states

I see Estonian Kroon (`eek`) in the `currency_backwards_compatible.json` file. I don't know if that means Lithuanian Litas (`ltl`) and Latvian Lats (`lvl`) should also move to that file.

[2018-08-15 23:18] antstorm commented on #797
@mtmail very good point, yes. Happy to accept a PR 👍

[2018-08-17 21:53] #797 closed

[2018-08-17 21:58] #728 closed

[2018-08-25 10:38] jirihradil opened #800 "Adding Venezuelan Bolívar Soberano (VES) as replacement for Venezuelan Bolívar (VEF)"
Taken from https://status.openexchangerates.org/incidents/wrmzgmh6zwhy :

The redenomination of the Venezuelan Bolívar (ISO 4217 symbol: "VEF") to the Venezuelan Bolívar Soberano (ISO 4217 symbol: "VES") is scheduled to go into effect on 20th August, 2018. The conversion rate is 100,000 (old) Bolívar to 1 (new) Bolívar Soberano (100,000:1).

We will begin providing rate updates for the new Bolívar

[2018-08-26 16:21] peeyushsingla commented on #786
@antstorm please have a look on [pull request](https://github.com/RubyMoney/money/pull/802), could be the case I missed something would be great if you could guide me :)

[2018-08-29 11:17] antstorm commented on #800
@jirihradil thanks for posting this! Looks like someone is already on it — #801 👍

[2018-08-31 08:57] trusche opened #804 "Relax i18n dependency"
I18n is currently locked to `< 1.1`. The latest version is 1.1.0. Is there any reason for this restriction? See also #690.

Thank you!

[2018-08-31 09:03] trusche commented on #804
Never mind, already done in the last commit. Thanks!

[2018-08-31 09:03] #804 closed

[2018-09-07 13:03] artur-beljajev opened #805 "Consider updating doc"
https://github.com/RubyMoney/money/tree/master#default-currency states, that:

I wonder why it is advisable to do it such way, instead of putting it in `config/initializers/money.rb`. Doing so would prevent cluttering `environment.rb` and allow to spot each gem's dependencies easily, instead of browsing one single file.

[2018-09-07 14:22] artur-beljajev opened #806 "Introduce block configuration"
[code]
seems better than
[code]
in case you have many customizations.

Similar solution is implemented in `money-rails` gem https://github.com/RubyMoney/money-rails/blob/master/lib/money-rails/configuration.rb and in many others.

[2018-09-07 15:05] antstorm commented on #805
@artur-beljajev this is a very good point, yes. Would you mind opening a PR? Happy to merge it

[2018-09-07 15:46] artur-beljajev commented on #805
@antstorm Done! Please check and let me know if there is anything I could improve.

[2018-09-12 12:40] artur-beljajev opened #809 "Consider introducing `xmlschema` method to format money according to XML Schema `xs:decimal` datatype"
Ruby's built-in `date` class has a method `#xmlschema`, which formats the date to be used in XML:

[code]

The same might be implemented in `Money`:
[code]
Currently the only way I found is:
[code]
Please let me know if I miss some shortcut.

`xs:decimal` requirements:

[2018-09-12 17:44] c0ze opened #810 "Currency name translations"
I'm looking for something like,

[code]

is this possible ? (short of me providing the localizations of course, I'm wondering if somebody already did it)

[2018-09-14 14:52] artur-beljajev commented on #809
Good point. XML schema standard does not have any built-in type to represent money, so I am not sure what would be the best solution in this case. If there is no standard way to represent money in XML, then we probably can't implement any standard way in `#xmlschema` method.

https://www.w3.org/TR/xmlschema-2/#decimal

[2018-09-16 20:53] antstorm commented on #810
Yep, should be opt-in and lazy loaded. There will be a place to add these once the localisation extension is out. Meanwhile nothing should be stopping you from defining these translations via I18n directly.

[2018-09-16 20:56] antstorm commented on #809
@artur-beljajev yeah, looks like there isn't a standard way of doing this right now. But if you can think of a good way to add this (via extended data type or a custom type) I'll be happy to accept a PR 👍

[2018-09-17 21:46] artur-beljajev commented on #809
@antstorm Not sure I understood. Do you mean to add XML custom type? If so, I doubt it has anything to do with money. I think it is up to an end-user to decide how to represent money in some particular XML document.

[2018-09-18 23:02] antstorm commented on #809
@artur-beljajev it certainly is up to user since they would also need to make their parser to understand it, but we can suggest a good way of serialising it

[2018-09-19 11:00] stevebutler2210 commented on #712
Hi @antstorm, we are facing the same issue (need to place the symbol in front for IRE Euros, but not for others) - I just wondered if you could help clarify, with the latest changes that have been put in place, what the preferred approach for our situation would be?

Is there any way that we can automatically infer the format to be used for a currency based on the country? Failing that, is our onl

[2018-09-22 21:58] antstorm commented on #712
@stevebutler2210 there's a selectable locale backend available in the latest versions of `money` (you'll have to use `master` for now as I'm working out the roll-out approach, but will most likely be included in `6.13.0`). You do this by specifying `Money.locale_backend = :i18n` (https://github.com/RubyMoney/money#localization).

This should work seamlessly with https://github.com/svenfuchs/rails-

[2018-09-22 21:58] antstorm commented on #712
@Titinux also curious if that would work for your use-case ^

[2018-09-22 21:59] antstorm commented on #712
@afdev82 curious if you ever tried this and whether you have any suggestions/comments?

[2018-09-25 07:05] stevebutler2210 commented on #712
Thanks @antstorm, looking at [i18m.rb](https://github.com/RubyMoney/money/blob/master/lib/money/locale_backend/i18n.rb), it looks like only the thousands separator and decimal mark formatting options are supported for configuration in locales at the moment, not [symbol_position](https://github.com/RubyMoney/money/blob/6c8fd676f3aabd1242807cef30c6ab44d4a48b84/lib/money/money/formatter.rb#L188), whi

[2018-09-25 07:45] stevebutler2210 commented on #712
Thanks for your help @antstorm, looking at i18n.rb, it looks like only the thousands separator and decimal mark formatting options are supported for configuration in locales at the moment, not symbol_position, which is what we need to set for localising the IRE Euros display.

If I were to raise a PR to add locales support for configuring the symbol_position formatting option, is this likely to be

[2018-09-26 07:46] antstorm commented on #712
@stevebutler2210 yes, I'm working on getting the `format:` option translated using i18n. Bear in mind that this will only be available in the next major version, so you might wanna take care of all the deprecated warning in preparation for that. I'll mention you on the PR when it's out

[2018-09-26 17:29] jacobherrington opened #812 "Deprecation of html rule"
I'm curious as to why the html rule was deprecated. I recently opened: https://github.com/solidusio/solidus/issues/2870 and was wondering if there is a reason we shouldn't be using it. I wasn't able to find any documentation or notes on why it needed to be deprecated.

[2018-09-26 22:10] antstorm commented on #812
@jacobherrington it got deprecated in favour of `html_wrap`, which wraps all individual parts instead of constantly adding more and more options (we've already had `html` and `html_wrap_symbol`). I'm surprised that it's causing issues since you'd just expect extra `<span>` elements not to affect anything.

We can also allow for a bit more flexible approach, where you might say `html_wrap: [:symbol

[2018-09-27 07:57] sriedel opened #813 "Money::Currency.find_by_iso_numeric returns BTC for nil and empty string"
Passing nil or an empty string to Money::Currency.find_by_iso_numeric returns the bitcoin currency:

    2.5.0 :001 > Money::Currency.find_by_iso_numeric('')
    => #<Money::Currency id: btc, priority: 100, symbol_first: true, thousands_separator: ,, html_entity: &#x20bf;, decimal_mark: ., name: Bitcoin, symbol: ₿, subunit_to_unit: 100000000, exponent: 8, iso_code: BTC, iso_numeric: , subunit: Sat

[2018-09-28 08:39] antstorm commented on #813
Thanks for reporting @sriedel, I've added a fix ^

[2018-09-28 14:22] peeyush-ad2games opened #815 "Cleanup with rubocop"
Could be beneficial to project if we do a cleanup based on Robocop?

[2018-09-28 22:02] #813 closed

[2018-09-29 10:53] antstorm commented on #815
@peeyush-ad2games probably! The problem with these cleanups is that is messes up git history. Maybe if you start with performance cops (https://rubocop.readthedocs.io/en/latest/cops_performance/) and less strict stylistic changes it should be fine

[2018-10-01 07:17] peeyush-ad2games commented on #815
sure @antstorm  👍

[2018-10-01 08:11] stevebutler2210 commented on #712
Ok, thanks for confirming @antstorm, much appreciated! Don't suppose you have a rough idea of the ETA?

[2018-10-02 15:11] shepmaster opened #816 "The default configuration emits a deprecation warning about i18n"
We do not expressly set `Money.use_i18n`, yet version 6.13 now reports:

[code]

Adding an initializer with `Money.locale_backend = :i18n` solves the warning, but is it intentional for the *default* settings to be deprecated? If so, It might be better to say something like "using the default is deprecated, expressly set ..."

[2018-10-03 00:53] jacobherrington commented on #816
Seeing this in https://github.com/solidusio/solidus now as well #812

[2018-10-03 07:36] antstorm commented on #816
@shepmaster that's a good point, thank you for raising this. I'll see what I can do here. It's just that setting defaults as well as custom config flow through the same accessor

[2018-10-03 22:59] antstorm commented on #816
@shepmaster any idea where the warning is coming from? I've double checked and deprecation is on the setter, while the default value is set directly using the instance variable, so should not trigger the warning

[2018-10-04 15:04] shepmaster commented on #816
Looks like https://github.com/RubyMoney/money/blob/42922ddd63a62f851dc8b38bf95d194d7f117dff/lib/money/locale_backend/legacy.rb#L13

[code]

[2018-10-04 19:43] antstorm commented on #816
@shepmaster got it! So the intention here is to prepare you for the new defaults that will be set in the new major version. Another approach would be to release the major version with the old defaults active but deprecated and cleanup in the next minor. However that means bringing old code over, which is less than ideal.

Changing defaults is also not great, because it might cause the code to brea

[2018-10-04 19:54] shepmaster commented on #816
I don't think there's anything wrong with changing the defaults, just that it'd be nice if that was explicitly called out.

Basically, my thought process was:

If the message was more like

Or

etc.

Basically anything that indicates that the fact that *not setting a value* will be affected as opposed to suggesting that the setting that we aren't setting is at fault.

[2018-10-07 21:34] antstorm commented on #816
@shepmaster thank you for explaining, now I see how confusing the messaging is when viewed from this angle. I'll make sure to update it! 👍

[2018-10-07 23:27] antstorm commented on #816
@shepmaster can you please have a look at #819 and tell me if it's clearer now?

In case you're relying on the default behaviour it will point to a section in README describing the deprecation. And if you still `use_i18n` explicitly it will advice on how to change it to using `locale_backend`.

[2018-10-08 21:48] artur-beljajev opened #820 "`Money#format` hides private method from `Kernel` class"
I wonder if a method to format money object is named `format` intentionally (or is there some workaround), because it actually hides identically named private method from `Kernel` module, which makes impossible to use the latter if such a need arises.

Example of unexpected case:

[code]

https://ruby-doc.org/core-2.4.4/Kernel.html#method-i-format

[2018-10-08 22:49] antstorm commented on #820
@artur-beljajev this is definitely unintentional, but it's a good name for the method :) You can get around this by calling `Kernel.format` explicitly

[2018-10-09 09:01] artur-beljajev commented on #820
Oh, I failed to realize that you can call module method directly Thanks for clarifying!

[2018-10-09 09:01] #820 closed

[2018-10-09 19:57] #816 closed

[2018-10-09 19:58] antstorm commented on #816
@shepmaster I've merged it and will release a patch soon. Feel free to reopen the issue in case you think it's still unclear

[2018-10-09 21:53] antstorm commented on #712
@Titinux @stevebutler2210 I've got a PR up if you wanna check it out — #825

[2018-10-12 20:15] JDutil commented on #812
@antstorm I think it'd be great to be able to specify the elements to wrap and their classes, but I'm also not really sure it's necessary. Seems like a nice to have, but at what cost in complexity / overhead?

I just fixed up the deprecation warnings referenced in the Solidus issue, and I didn't experience the same html safe issues others did which I believe is more a Solidus issue than Money libr

[2018-10-14 09:34] antstorm commented on #812
@JDutil I'm glad you were able to fix it. Yeah, it's definitely a nice to have feature, so I'll close this one for now and see if there's more appetite for this behaviour

[2018-10-17 08:14] stevebutler2210 commented on #712
Sorry for the delayed response, looks spot on to me 👍

Is a review from one of us sufficient, or does it need to come from a regular maintainer?

[2018-10-21 20:41] antstorm commented on #712
@stevebutler2210 a review from you should be sufficient, especially if you're using this in production and have significant test coverage

[2018-10-22 12:01] jewilmeer opened #826 "Deprecation error on format while using the new format"
Hi there,

I configuration to change the formatting has been changed a bit. I've tried to update our configuration but right now the deprecation warning is very confusing:

[code]

gem version: money-6.13.0
ruby version: 2.5.0

[2018-10-23 22:57] antstorm commented on #826
@jewilmeer the deprecation suggests using `format:` instead of `symbol_before_without_space:`. In your case you wanna — `Money.new('42.00', 'EUR').format(format: '%u%n')`. More info can be found here — https://github.com/RubyMoney/money/blob/master/lib/money/money/formatter.rb#L214

[2018-10-24 08:41] inopinatus opened #827 "Money.locale_backend = :currency throws exception"
The code

    Money.locale_backend = :currency

documented in the README is giving me

[code]

[2018-10-24 08:44] inopinatus commented on #827
Never mind, looks like this is fixed in an unreleased version.

[2018-10-24 08:44] #827 closed

[2018-10-25 19:10] kapso opened #828 "use_i18n is deprecated warning"
Seeing this warning in the logs:
[code]

Gem versions:
[code]

Ruby version: `Ruby 2.5.3`

[2018-10-26 08:28] PragTob commented on #828
Is it though? `setup_defaults` in this repo defaults it to true https://github.com/RubyMoney/money/blob/master/lib/money/money.rb#L168

I think this default should be removed and exchanged against the new recommendation or am I missing something?

[2018-10-26 09:18] Jcambass commented on #828
@PragTob - Sure, but they set their internal state. The deprecation warning is caused here: https://github.com/RubyMoney/money/blob/c565acf70f51159a7c693ecea8da31152badb416/lib/money/money.rb#L150

Since they deprecated the usage of `Money.use_i18n=` and the `money-rails` gem currently calls this method as you see here: https://github.com/RubyMoney/money-rails/search?q=use_i18n+%3D&unscoped_q=use_

[2018-10-26 09:28] PragTob commented on #828
@Jcambass it is not calling that method. The only place they are calling that method is the specs, they are only calling `.use_i18n` which is a different method. The warning originates from here: https://github.com/RubyMoney/money/blob/v6.13.0/lib/money/locale_backend/legacy.rb#L11-L13 which warns when `use_i18n` is set to true, and as this is the default everyone is affected.

You can see a stack

[2018-10-26 09:33] Jcambass commented on #828
@PragTob Ohh yes, you're totally right 👍@kapso you can ignore my comments above. I guess I'll do a apology-PR then to fix this 😄

[2018-10-26 12:19] jewilmeer commented on #826
Hi @antstorm thx for pointing me in the right direction. I'll be able to solve the deprecation warning now. Would be good to update the documentation to show which options are deprecated, because right now there isn't a clear distinction.

[2018-10-26 12:19] #826 closed

[2018-10-26 19:44] kapso commented on #828
@Jcambass all good 😄

[2018-10-27 20:31] antstorm commented on #828
@kapso sorry for turning up late. Have you guys figured it out? :)

[2018-10-30 15:25] jasonswett opened #829 "Add string parsing capability?"
I'm working on a project where I need to parse string values like `'33.62'` into integer values like 3362.

I wrote the following method to help me with this:
[code]

It would be nice though if I could just do something like `Money.parse('33.62')` which would be the equivalent of `Money.new(3362)`.

Would a PR for this functionality be welcome? Or maybe Money already does this. I did a quick check

[2018-10-31 16:41] leoarnold opened #830 "Use format instead of format"
Given the snippet

[code]

I got the warning

[code]

I wondered: _Use `format`? Isn't that just what I'm doing here?_

It took me quite a while to realize that it probably meant to tell me to use the `:format` option of `#format`.

I primarily opened this issue to help others who wonder.

Maybe it would be nice to rename `amount.format(format: [...])` to `amount.format(template: [...])`.

[2018-11-05 10:23] srp2930 opened #831 "Money with NaN and Infinity"
We've recently had a few issues with Money objects instantiated with `NaN` and `Infinity`, which have then caused problems in calculations etc.

Example:

[code]

Is this behaviour that is wanted or should there be guards against this?

[2018-11-05 22:56] antstorm commented on #831
@srp2930 can you please specify which version of `money` you are using? And any other gems/patches that might potentially alter the default behaviour?

I've tried this on the latest master and as expected, getting exceptions:

[code]

[2018-11-06 16:31] srp2930 commented on #831
I'm on `6.13.1` via ruby gem

[code]

but also have `Money.infinite_precision = true` in config

[2018-11-08 23:14] antstorm commented on #831
@srp2930 got it, with `Money.infinite_precision = true` I'm getting the same results. I've opened a PR to fix this ^, thanks a lot for reporting! 👍

[2018-11-13 22:43] #830 closed

[2018-11-13 22:45] #831 closed

[2018-12-09 04:07] codeodor opened #837 "[DEPRECATION] You are using the default localization behaviour that will change in the next major release. Find out more - https://github.com/RubyMoney/money#deprecation"
How can I tell where this is being called so I can fix it?

[2018-12-09 07:32] Elyasin commented on #837
My guess is whenever you deal with the Money or Money::Currency.
To fix this I think the best way is to write the appropriate line(s) in the appropriate place as mentioned in the link of the deprecation message: `Money.locale_backend = :i18n`

My question here is which would be the appropriate place to make sure the locale backend is set application wide?
app/helpers/application_helpers.rb ???

[2018-12-09 21:14] antstorm commented on #837
@codeodor depends on your app. If it's Rails, my guess is there's an initializer somewhere in `config/initializers`. Otherwise it would be wherever you perform setup of the app/gems

[2018-12-17 23:06] antstorm commented on #837
@chiperific thanks for posing this! 👍 I'll update the template for the initializer!

@codeodor this solution should work for you too

[2018-12-17 23:06] #837 closed

[2018-12-27 05:50] akichim21 opened #840 "format(sign_positive: true) does not include 0"
hi.
I use format(sign_positive: true), but It does not include 0.
Can I add option(ex: sign_zero or sign_greater_or_equal_zero) that sign greater than or equal zero?

[code]

[2018-12-31 10:43] antstorm commented on #840
What is the use-case for this? Can there be a need for `-$.00`? I'm thinking of leveraging `format:` option for these exception cases if possible

[2018-12-31 11:13] PragTob commented on #828
I think @Jcambass made a PR to fix it so I think this should be good?

[2019-01-01 05:46] akichim21 commented on #840
I want to display total price and price difference from total price
I don't need for minus option.

ex) expadia, Hotel + Flight Search
<img width="920" alt="2019-01-01 14 43 38" src="https://user-images.githubusercontent.com/6077520/50570567-c1ab4b80-0dd3-11e9-9571-ecac6507e5bb.png">

[2019-01-01 22:39] antstorm commented on #840
@akichim21 I see, I'm tying to figure out where others might find it useful. Why do you need the "+" on that screen?

[2019-01-01 23:01] antstorm commented on #828
Yep, hopefully it's all clear now. Closing this issue.

[2019-01-01 23:01] #828 closed

[2019-01-04 04:30] akichim21 commented on #840
@antstorm
I'm sorry. This example image is bad.

![_2019-01-04_13_19_11](https://user-images.githubusercontent.com/6077520/50673803-03cacc00-1024-11e9-95a5-4524f5ed30df.png)

In the dynamic package for flight + hotel, the total price is displayed and the difference price from total price is displayed.
At the time of the difference price, I think that it is more appropriate to display ""+¥0"" than

[2019-01-04 11:10] Jcambass commented on #828
Hey guys, sorry for the delayed response. I didn't submit a PR yet so this is probably still happening. If anyone has time at their hands to take care of it feel free to do so.

[2019-01-04 11:12] srp2930 commented on #831
Hi @antstorm, when are you going to release this bug fix please? Thanks

[2019-01-06 09:15] akichim21 commented on #840
@antstorm
thank you for your plan.
In my case, minus also exists.
If we are special, we will respond with our application.
[code]

[2019-01-06 11:57] antstorm commented on #840
It does look like your use case is somewhat special, but hopefully it can be solved easily 👍

[2019-01-21 16:44] waghanza commented on #815
@antstorm perhaps https://github.com/ruby-formatter/rufo could be more relevant then

[2019-01-21 19:34] alextakitani opened #846 "I'm confused on how Money.default_formatting_rules works."
I'm receiving a deprecation warning:

`symbol_position: :after` is deprecated - you can replace it with `format: %n %u`

That means that I'll have to use format always? Or is there a way to define a default formating ?

Thanks!

[2019-01-21 19:50] alextakitani commented on #846
Nevermind, found out that it should be configured like this:

Money.default_formatting_rules = { format: '%n %u' }

[2019-01-21 19:50] #846 closed

[2019-01-21 21:36] antstorm commented on #815
@waghanza what would be the benefits of using Rufo in place of Rubocop?

[2019-01-22 11:47] waghanza commented on #815
@antstorm I didn't say in-place :stuck_out_tongue:

`rufo` is only a formatter (so not like rubocop), it just about code design (it affects 34 files as for now)

[2019-01-22 14:06] xijo commented on #707
@antstorm Just out of curiosity: why is `BigDecimal::ROUND_HALF_EVEN` the default? We just stumbled over it after quite some time and it actually screwed up some of our numbers, b/c our PSP was using "normal" rounding.

Shouldn't be the most common rounding method the default round method?

[2019-01-25 23:47] alexdunae opened #847 "Option to skip currency check when creating Money objects"
I'm wondering if you'd accept a PR to add a configuration option to skip the currency check when creating Money objects.

We're building a system where users can define currencies on the fly and calling `register` on every request is going to be problematic.

Would you be open to a PR that allowed would allow suppressing the `UnknownCurrency` exception via a configuration flag?

[2019-01-27 16:04] krtschmr commented on #741
@cavebring Ubuntu 18.04 seems to not be able to display it correctly. Any idea what's wrong? I only get a square

[2019-01-29 21:34] antstorm commented on #847
@alexdunae couple of questions:

1. Why do you think calling `register` will be problematic?

2. How do you plan on using it? I mean `Money::Currency` excepts certain attributes to work properly

[2019-01-29 21:50] antstorm commented on #707
@xijo this is a great question and I don't have a good answer for you. This is the commit that introduced `ROUND_HALF_EVEN` as the default rounding mode and it never changed since — https://github.com/RubyMoney/money/commit/a86a748eb0b646da31214fcdf61c0046aed7f54d.

From my understanding `ROUND_HALF_EVEN` (also known as Banker's rounding) is useful for calculating big amounts of data as it softens

[2019-01-29 21:54] antstorm commented on #815
@waghanza oh, I see. By code design — are you referring to software design in general (best practices, SOLID, etc.) or just text formatting?

[2019-01-30 01:17] krtschmr commented on #741
@antstorm maybe we should revert ₿ to BTC as a string till all browsers will support it?

My shell also doesn't support it, so it's a Ubuntu issue, not browser specific. Windows 10 however is cool with it

[2019-01-30 08:57] waghanza commented on #815
@antstorm just text formatting

+ https://github.com/ruby-formatter/rufo was designed only for formatting, tweaking the code to have one format on a source code
+ https://github.com/rubocop-hq/rubocop was designed for best practices

the first is unobtrusive, and can be used with the second, do you want me to provide a `PR` (it could be clearer) ?

[2019-01-30 16:18] xijo commented on #707
I couldn't agree more: `ROUND_HALF_UP` is the expected behavior and is the normal rounding behavior in ruby, excel and PSPs like stripe and paypal.

[2019-01-30 19:39] alexdunae commented on #847
For our project we're hoping to let customers make up their own currencies on the fly (kind of like virtual currencies).  Calling `register` is possible but it would mean extra database queries at the top of each request to determine which currencies to register.  Each of our customers would have different currencies and will be hundreds across the platform.

Regarding 2, I did notice some issues

[2019-02-01 19:59] antstorm commented on #847
@alexdunae here's what I think can work in your case — create your own subclass of `Money::Currency` (like `VirtualCurrency < Money::Currency`) overriding `def table` method that returns a Hash with all the user's currencies and their config (you'll need to get creative here defining all the attributes, including `subunit_to_unit`).

Then in your code, whenever you initialize a `Money` object use

[2019-02-01 20:00] antstorm commented on #707
Makes perfect sense, I'll include this in v7 that I'm working on, thanks for bringing this up!

[2019-02-01 20:03] antstorm commented on #815
@waghanza but I assume we can't really use one without the other, right? Adding `rufo` will not force contributors to follow specific style guide, will only allow them to format the code.

I guess we should start with rubocop, bringing minimal style guide to the code and then see if we need `rufo` as well. Definitely happy for a PR on this one!

[2019-02-01 20:05] antstorm commented on #741
@cavebring it seems like there are some support issues with the new symbol. What do you think? ^

[2019-02-01 20:55] xijo commented on #707
Sounds great! 👍

On Fri 1. Feb 2019 at 21:01, Anthony Dmitriyev <notifications@github.com>
wrote:

[2019-02-02 01:36] krtschmr commented on #741
@antstorm @cavebring i'm voting to revert it, till macos and linux can display it.

[2019-02-04 19:49] alexdunae commented on #847
@antstorm that's definitely an interesting solution.  The only catch I can think of is that we still have actual currencies in use through-out our system and it's possible that we'd have a mix of currency types (virtual and real) being used in the same query.  I'll ponder it a little further and see if it might be workable though.

[2019-02-04 22:37] antstorm commented on #847
@alexdunae yeah, it's not a straightforward use-case, so would require some thinking to get it right. Ping me how it goes, quite interested in what you'll end up with.

[2019-02-12 08:21] akichim21 commented on #840
Thanks!

[2019-02-12 08:21] #840 closed

[2019-02-15 15:46] mimuss opened #848 "Format with zero cent value raises error"
[code]
When I pass value with not zero cents, formatter returns formatted value.
[code]

[2019-02-16 21:37] antstorm commented on #848
@mimuss I'm trying to reproduce this issue, but can't do it. It seems like you've got some sort of a specific configuration that leads to this issue. Can you post a bit more details about your setup?

[2019-02-19 10:01] artur-beljajev opened #849 "Inconsistent exception class names"
I noticed that `Currency::MissingAttributeError` is the only class that ends with `Error`, others omit it: `Bank::UnknownRateFormat`, `LocaleBackend::NotSupported` etc.

I think it would be good to follow some single convention. I find `MissingAttributeError` a bit more readable, than just `MissingAttribute`, since it's clear what you deal with some error/exception.

Surely it breaks compatibility

[2019-02-20 13:37] mimuss commented on #848
Yes. After some time I finally found a bug in code. Here https://github.com/RubyMoney/money/blob/master/lib/money/money/formatter.rb#L346 `to_s` is using and in the project `to_s` of `BigDecimal` was monkey patched(
It's all my fault. Sorry about it.

[2019-02-21 22:22] antstorm commented on #848
@mimuss no worries, glad you found the issue 👍

[2019-02-21 22:22] #848 closed

[2019-02-21 22:28] antstorm commented on #849
@artur-beljajev I definitely agree that consistency is important. I normally don't use `Error` in the class names if it's obvious from the name that it's an exception class. Otherwise it just becomes a bit repetitive. But as you've pointed out — renaming these will be a breaking change, but this can be introduced in v7 with a deprecation in v6.

As for the superclass — very good point, will fix th

[2019-02-23 20:24] artur-beljajev commented on #849
IMHO, they would look more natural with `Error` at the end, since class names are usually nouns. This also conforms to Ruby convention. Not a big deal for sure, but still.

[2019-02-23 20:26] artur-beljajev commented on #849
I might do a PR with base class. Is it OK?

[2019-03-01 15:23] zorab47 opened #851 "Improve debugging experience for: NoMethodError: undefined method `zero?'"
There are a few situations that raise a `NoMethodError` when performing arithmetic operations on Money objects but they are confusing. Could these specific errors be enhanced to provide useful context?

**The goal is to improve the debugging experience.**

[code]

One idea is to raise a `TypeError` when attempting to operate on `nil`. I'm unsure of a good approach when checking if the other object

[2019-03-02 11:53] antstorm commented on #849
@artur-beljajev a PR is always welcome! 👍

As for Rails inconsistencies — `ActiveRecord::RecordInvalid` is descriptive enough not to have `Error`, but `ActiveRecord::PendingMigration` doesn't make much sense without `Error` as it wouldn't suggest that something is not right. I think that's the rational they've used.

[2019-03-02 13:01] antstorm commented on #851
@zorab47 thanks a lot for raising this. Here's a fix — #852

[2019-03-11 13:25] PMajesty opened #854 "JPY and CNY share the same symbol (¥), is it possible to add `disambiguate_symbol` to both?"
I am having trouble with these currencies, as they both use the same symbol and don't have a disambiguation. I would rather not use alternate symbols because of these two currencies.

[2019-03-13 19:47] adamduffy opened #855 "default_currency misconception"
when doing multi-currency business, it is very dangerous to not know for sure and assume a "default currency". i.e. storing `{amount: 1, currency: nil}` and assuming that's USD.  USA is not the center of the universe, and neither is any other country/currency.

ex:
[code]

i have a hard time thinking of a use case where not knowing and guessing is better than knowing for sure.  i can think of use

[2019-03-15 10:11] foxeg opened #857 "Fix #find_by_iso_numeric for two digit codes"
#856

Current behaviour: Money::Currency.find_by_iso_numeric fails to find two digit iso currencies by integer code
Expected behaviour: Money::Currency.find_by_iso_numeric should find currency by adjusting '0' to 3 digits

Current:
[code]
Expected:
[code]

[2019-03-27 07:42] renlesterdg opened #858 "SGD format uses `S$` but the currency symbol is `$`"
Not really sure if this is a bug
[code]
we are not using custom currency

[2019-03-27 07:54] syedrakib commented on #858
I see there is something called `alternate_symbol` and `disambiguate_symbol` in the gem config - https://github.com/RubyMoney/money/blob/master/config/currency_iso.json#L1897,L1898.

Is there any way we can specify to use these instead of using the regular symbol?

[2019-03-27 16:38] pavlad opened #859 "No difference between `Money.locale_backend = :i18n` and `Money.locale_backend = :currency`"
Hello there

I've noticed one problem when trying to validate currencies. When you set `Money.locale_backend = :currency` in your config the value which is validated in MoneyValidator is still validated against I18n.

Let's take the `def decimal_mark` for example:

[code]

Here we use `use_backend_locale?` to see whether the decimal mark should be looked up in I18n. `use_backend_locale?` will in o

[2019-03-29 21:48] danielricecodes commented on #854
@PMajesty - what should the two different currencies display?

[2019-03-30 04:53] PMajesty commented on #854
Perhaps `円` for `JPY` and `元` for `CNY`? Those are the symbols we decided to use.
Just because of these two currencies, we had to add a block of code specifically for both of these, as all other currencies are disambiguated well, so it is just a question of code neatness. Thanks!

[2019-03-30 10:05] antstorm commented on #855
@adamduffy I guess the reason behind `default_currency` in the first place is for single-currency apps where everything is expected to be in one currency. But if anything it's just a shorthand that is potentially dangerous as you've noted.

I like the idea of switching the default to `nil` forcing people to pick one at their own risk. As it's a breaking change we can include it in the upcoming v7

[2019-03-30 10:07] #851 closed

[2019-03-30 10:08] antstorm commented on #857
Merged, thanks for spotting and fixing the issue! 👍

[2019-03-30 10:08] #857 closed

[2019-03-30 10:21] antstorm commented on #858
@renlesterdg it looks like there are some settings applied in your case since I'm getting different results. `disambiguate_symbol` should only be used when `disambiguate: true` is passed to the `#format` call. Anything in `Money.default_formatting_rules`?

[2019-03-30 10:22] antstorm commented on #858
@syedrakib passing `disambiguate: true` to `#format` will use `disambiguate_symbol` from config if available

[2019-03-30 10:28] antstorm commented on #859
@pavlad yep, that's a really good point! I wonder if instead we can just use the `locale_backend` to lookup the expected value? Especially once the `:legacy` locale backend is removed

[2019-04-01 00:08] danielricecodes commented on #800
@jirihradil @antstorm - this can be closed?

[2019-04-01 00:40] danielricecodes commented on #854
@PMajesty - After doing some research, ¥ appears to be [the standard symbol for these two currencies](https://en.wikipedia.org/wiki/Yen_sign).  I am not defending that, nor can I.  I am neither Japanese nor Chinese and can't offer any meaningful insights as to what symbol to use and what is "correct".  But what I can suggest is that you redefine the Currencies in your app to use the symbols you wa

[2019-04-01 06:49] PMajesty commented on #854
Alright, thanks for your help.

[2019-04-01 06:49] #854 closed

[2019-04-01 08:30] pavlad commented on #859
@antstorm Sure, once the legacy option is removed we wouldn't need the `use_backend_locale?` method.
Though doing something like in the code below might be a bit dangerous as we'd be introducing defaults (e.g. if the user doesn't set `Money.locale_backend` the validation would default to `currency` validation). This isn't necessarily a big issue though, just something to keep in mind.

[code]

[2019-04-03 04:25] maxim commented on #859
Ran into this too. Validation fails on a price field because validator is using default separators from i18n instead of looking up currency based on currency field.

I think this solves it for now:

[code]

However, it triggers a deprecation message:

[code]

[2019-04-03 23:50] antstorm commented on #859
@pavlad yes, you're right. However I think it should not default to `:currency` in the future as it is a wrong way of formatting your money objects. It worked so far only because most currencies are attached to a specific country and their formatting rules, however this falls apart with EUR. It should be the locale dictating the formatting, not the currency.

[2019-04-04 01:03] antstorm commented on #859
I've opened a PR that will respect your `Money.locale_backend` settings when performing input validations — https://github.com/RubyMoney/money-rails/pull/567. Can you guys check if that works for you?

[2019-04-04 01:07] antstorm commented on #800
@danielricecodes looks like it! Closing

[2019-04-04 01:07] #800 closed

[2019-04-12 09:45] pavlad commented on #859
It works for me! Thanks a lot for fixing it so quickly.

[2019-04-14 21:52] antstorm commented on #859
No problem! 👍

[2019-04-14 21:52] #859 closed

[2019-04-15 23:23] viraptor opened #862 "Explicit +/- change breaks existing API"
After https://github.com/RubyMoney/money/pull/852 has been merged, classes not inheriting Money cannot be handled anymore. I've got a codebase with the following class:

[code]

Which worked with the version `6.13.2`, but breaks in `6.13.3` when testing +/-:
[code]

While this is possible to patch to work with the new update, I don't think a point release should break existing code.

I think the n

[2019-04-17 22:46] antstorm commented on #862
@viraptor sorry about this, the intention was definitely not to break existing code. However this functionality was untested, which gave me some confidence in thinking that it wouldn't be a breaking change.

Your solution however looks somewhat awkward, especially since it's always initialized with a fixed value and currency.

As for inconsistent results — isn't it what you'd expect? If you use `M

[2019-04-21 20:57] danielricecodes commented on #762
@rajdeep26 - this issue appears like it has been solved and a workaround has been identified.  Close this issue?

[2019-04-24 09:52] rajdeep26 commented on #762
Yes. Sure.

Thanks for all the help.

[2019-04-24 09:52] #762 closed

[2019-05-05 06:42] 9mm commented on #665
Is this what I should have in the latest version, using non deprecated methods, to skip this performance issue?

[code]

[2019-05-07 20:56] antstorm commented on #665
@9mm yes, this disabled any locale lookups including I18n. You can also use `Money.locale_backend = :currency` which doesn't use I18n, but localizes per currency in case that's what you need.

[2019-05-07 21:13] 9mm commented on #665
@antstorm Thank you. Follow up question just so I dont clutter the github issues.

What is the best way to parse a string into Money without using that entire other Gem?

I know the format will always be in 'xx.xx' so I was thinking this:

    Money.from_amount(BigDecimal('100.00'))

Do you see any problems with this?

[2019-05-09 22:17] antstorm commented on #665
@9mm don't see no problems, should work just fine 👍

[2019-05-21 06:14] vidurpunj commented on #837
Include this line inside you development.rb

[2019-05-21 17:50] thealiilman commented on #855
Hey @antstorm, I stumbled upon this issue recently. There doesn't seem to be any work being done on this, and I thought this would be a nice issue to get my hands dirtier with contributing to open source. 🤓I just opened a [PR](https://github.com/RubyMoney/money/pull/867) for this. 👌

[2019-05-21 18:07] thealiilman commented on #855
Hey @antstorm, I stumbled upon this issue recently. There doesn't seem to be any work being done on this, and I thought this is a nice issue for me to get my hands dirty with contributing to open source. 🤓

I may have misunderstood the exchange above between you and Adam, hence the draft PR. I had thought it was to force the developer to set the default value, and not initialising a `Money` object

[2019-05-26 00:32] 9mm opened #870 "Do you support formatting of (negative) instead of -negative?"
This is how it's done it's done in accounting, and I can't find a formatting option for it on the source for the formatter... am I just not seeing it?

[2019-05-26 09:15] antstorm commented on #870
@9mm you're right, I don't we think we support it

[2019-06-02 18:06] antstorm commented on #858
Closing this due to inactivity. Feel free to re-open in case the suggested fix didn't help

[2019-06-02 18:06] #858 closed

[2019-06-02 18:08] antstorm commented on #855
https://github.com/RubyMoney/money/pull/868 is now merged and will get included in v7 release

[2019-06-02 18:08] #855 closed

[2019-06-02 18:10] antstorm commented on #849
Closing due to inactivity. Feel free to open a PR implementing agreed changes

[2019-06-02 18:10] #849 closed

[2019-06-02 18:15] antstorm commented on #847
Closing this due to inactivity. But would love to hear what solution you went with

[2019-06-02 18:15] #847 closed

[2019-06-02 18:21] #812 closed

[2019-06-02 18:33] #757 closed

[2019-06-02 18:33] #753 closed

[2019-06-02 18:34] #740 closed

[2019-06-02 18:58] antstorm commented on #712
Closing this as it is implemented and is supported in v7 (yet to be released though)

[2019-06-02 18:58] #712 closed

[2019-06-02 19:07] antstorm commented on #710
@ioquatix while using units instead of subunits does make the issue go away, storing these as strings is not a great idea since you'll have to cast it whenever you want to perform any DB-level comparison or arithmetics.

However the issue with using units instead is what this gem was originally trying to solve — dealing with sub-subunit amounts, which is something you want to avoid when handling m

[2019-06-02 19:09] antstorm commented on #709
Closing this due to inactivity. If you look at `v7_new` branch that has the v7 version (not yet released) it will use different formatting per locale (when using i18n locale backend)

[2019-06-02 19:10] #709 closed

[2019-06-02 21:39] ioquatix commented on #710
@antstorm You are totally right, it can make DB work more or less tricky. In my experiences, if you are dealing with multiple currencies, normal arithmetic operations are insufficient anyway. So I do most processing in Ruby land and store the results in the DB. It's the least surprising way to do currency operations. It might be possible to do "Decimal" style operations in databases, but even thos

[2019-06-02 23:06] antstorm commented on #710
Agree, but it’s still pretty useful to do querying based on the value as well as some aggregate stats like “total revenue last month” grouped by currency of course.

I think any solution will be a compromise of sorts, the question is — what’s more important for your particular use case.

Maybe that is the approach we should take and give the ability to deeply customize the gem. It’s probably more

[2019-06-02 23:17] ioquatix commented on #710
I'm not sure if this helps but here is what I do:

`Latinum::Resource` gets serialised into a single column as a string e.g. `5 USD`. It's simple and doesn't require complex schema to manage. Also I tend to serialise whatever the user typed in, e.g. `3.141592653589793 BTC` would be stored directly into the database. This way you preserve the intention of the user rather than truncating the amount.

[2019-06-03 00:45] krtschmr commented on #710
User should only be able to type in 8 decimals for BTC otherwise it’s getting messy

[2019-06-03 22:30] antstorm commented on #710
@ioquatix I guess I have significantly a bigger dataset in mind, performing these operations in Ruby would be slow and inefficient. But it is definitely an option locally. Also, do you store currency iso in that string as well? How do you query for records in a specific currency, `amount LIKE '% BTC'`?

@krtschmr that's a good point. However with the current price it's probably easier for customer

[2019-06-03 23:24] ioquatix commented on #710
The currency code Is stored as you guessed. You could use two columns if it made sense to do so but activerecord doesn’t provide any convenient mechanism for dealing with that.

[2019-06-10 00:24] danielricecodes commented on #870
@9mm - this is easy to accomplish with your own Helper method.

[2019-07-03 12:55] FunkyloverOne commented on #667
Hey @antstorm, this is a kinda subtle (yet predictable) aspect of Money objects on my opinion.

Everything said here makes sense, but I believe it should be stated as an **important** note in README.

Initially, I naively did not take into account that rounding loss scenario with multiple arithmetic operations on a single Money object.
Furthermore things are getting funny if you read the following

[2019-07-03 20:44] antstorm commented on #667
@FunkyloverOne that makes perfect sense, thanks for bringing this up. Do you wanna lead the charge on this effort?

[2019-07-04 16:08] FunkyloverOne commented on #667
@antstorm I think I have to :slightly_smiling_face:

I'm thinking about all this stuff right now, and it looks like proper guidance is the most important thing here, because whatever we implement, it won't solve most problems anyway.

Because we calculate the money in order to store them somewhere most likely.
And we are supposed to store rounded money, the ones that are finalized and do make sens

[2019-07-04 18:39] danielricecodes commented on #667
@FunkyloverOne - I don't think people should avoid multiplication and division.  Learning how to work around floating precision and rounding loss is very much so a skill that developers on any finance related project must learn and be aware of.  Its also crucial to write tests so that rounding issues are picked up, and code can be adjusted accordingly.

Thanks for working on the problem of course!

[2019-07-04 22:02] antstorm commented on #667
@FunkyloverOne that makes sense, however it's not always trivial, imagine if you need to split money 3-way, or 100-way? Have you looked at `Money#allocate`? I think we should advice on using it when dealing with the use-case you've described.

But yeah, that problem definitely exists as we're resetting the error every step of the way. `infinite_precision` might be another option here

[2019-07-05 08:26] FunkyloverOne commented on #667
@danielricecodes, I guess I didn't mean to avoid them all the time, but in some cases, like splitting :)
And it turns out we got that sweet `Money#allocate`, thanks @antstorm! We definitely have to advise people on using it!

[2019-07-06 10:31] antstorm commented on #667
@FunkyloverOne part of the challenge here is balancing the right set of principles with the flexibility of the gem. Funny thing is that `Money#allocate` is not even mentioned in our `README`. We should definitely improve our documentation

[2019-07-09 12:44] FunkyloverOne opened #880 "Best practices discussion"
Extracted from https://github.com/RubyMoney/money/issues/667

@antstorm, I guess we might discuss those "right set of principles" and "flexibility of the gem" here. Please mention other contributors that might want to participate in this discussion.

I want to form a list of tasks here we agree we should do in order to improve this gem and it's documentation. I will be updating it, so later it wil

[2019-07-09 12:56] FunkyloverOne commented on #880
OK, so one thing I think it would be good to add here is to advise people on having "relaxed" validations where they want them to have but they see it could potentially have some inconsistent pennies (well, that might happen pretty much anywhere).

Right now in my code, I have this utility method:
[code]
At this point, I guess you see what I mean by "relaxed" validations. It's an awkward utility m

[2019-07-10 11:56] sarojkh opened #881 "Is there any way to programmatically determine historical currencies?"
I understand the need for supporting historical currencies. But, for a rather new application, which is not concerned about these currencies, is there a way to exclude them programmatically? There doesn't seem to be an explicit attribute that would identify a currency as historical.

After going through the source code, I can only think of approaching this by manually excluding the currencies list

[2019-07-18 22:10] antstorm commented on #880
@FunkyloverOne thank you for starting this thread!

What is your use case for `compare_with_delta?`? Normally this approach is used when comparing floats with a very high precision

[2019-07-18 22:13] antstorm commented on #881
@sarojkh good point! Do you think implementing a list of supported currencies would help? Something like `Money.supported_currencies` which ensures that a value with unsupported currency can not be initialized

[2019-07-19 09:49] FunkyloverOne commented on #880
@antstorm, my use case is when I have some models, that validate themselves based on some given percentages.
(So they "recalculate" themselves, and check if their "recalculated" results match with given ones).

But I know that those validations might be failed because I know that there is some money splitting going on, and some parts might miss or have an additional penny, like when you split a $1

[2019-07-20 12:19] antstorm commented on #880
@FunkyloverOne I see, that makes sense. I'm a bit hesitant to add this as it kinda promotes fuzzy accounting, but happy to be convinced otherwise if there's a good reason for it

[2019-07-23 12:16] JanStevens opened #884 "Add support for a virtual currencies"
Hello,

We heavily use virtual currencies where a user can setup their own currency and define the exchange rates for that virtual currency with the real currency.

Right now we patch the Money gem so we can additionally look up the virtual currency if it's not present in the `Money::Currency.table`

[code]

Would it be possible to add this to the gem so you can define an additional "bank" that at

[2019-07-24 22:50] antstorm commented on #884
@JanStevens I think you might be able to achieve this by monitoring your virtual currency's additions/deletions and responding accordingly by registering or unregistering a currency. This way you don't need to patch anything as the lookup table will already have information about your currencies. WDYT?

[2019-07-27 11:13] JanStevens commented on #884
That sounds about right, the only problem is that we have a multi tenant application so any client can define for example **EURX** and its properties while another client can define it differently.

The main issue for me is that between two requests the money gem currency list is kept in memory so if we don't reset or overwrite the virtual currencies it could be that client A sees the currency def

[2019-08-03 10:32] antstorm commented on #884
Oh, I see now. So you need a configurable currency lookup. While it might be a pretty specific feature for the gem itself we definitely can do something to make it more "pluggable", allowing you to extend this

[2019-08-07 22:46] Sticksword commented on #732
Hmm for me `Money.new(8725, 'USD') > Money.zero` succeeds but `Money.new(8725, 'CAD') > Money.zero` fails with the same error (`ArgumentError: comparison of Money with Money failed`). I am on `money (6.10.1)`

[2019-08-08 17:50] FunkyloverOne commented on #880
@antstorm, you're right. Perhaps it's better not to have it out of the box, so people are "less encouraged" on doing it.
We just need to warn people that sometimes they must handle it, on their own, and take full responsibility for it.

[2019-09-02 12:20] ktimothy opened #892 "Support for custom locale backends"
In our projects we currently use `R18n` instead of `I18n`. It is not supported by `Money`, so it is hard to make `Money::Formatter` use thousands separator and decimal mark from `R18n`.

Do you consider adding support for custom locale backends? With exisiting `LocaleBackend` class it looks quite simple, so i could even make a PR for this change.

[2019-09-04 07:22] antstorm commented on #892
@ktimothy the only reason why this isn't yet in the `master` is because of the missing ruby 1.9 support from R18n. Please have a look at the `v7_new` branch, which already includes it

[2019-09-05 10:41] ktimothy commented on #892
That's awesome, thanks! What is the problem with r18n not supporting ruby 1.9? How does it affect Money?

[2019-09-08 21:03] antstorm commented on #892
@ktimothy Need some code to conditionally exclude it from 1.9 specs, but nothing too unreasonable

[2019-09-13 12:06] iGEL opened #894 "Freeze Money instances"
Right in the top of the [Money class](https://github.com/RubyMoney/money/blob/master/lib/money/money.rb#L16), the documentation says:
[code]
The Ruby word for immutable is frozen, so I think, Money instances should be frozen right after creation. Or is there anything besides the deprecated `currency_as_string=` keeping us from doing this?

[2019-09-23 22:05] antstorm commented on #894
@iGEL thanks for bringing this up 👍

Yeah, it should now be totally possible to do this. A potential thing to watch out for is issues with memoization (frozen objects can't even modify instance variables), but I think we don't use that a lot.

[2019-10-16 22:23] antstorm commented on #837
This was added (https://github.com/RubyMoney/money-rails/pull/570) and should be available in a freshly published version 1.13.3

[2019-10-23 22:05] ioquatix opened #897 "`RatesStore::Memory` is not thread safe"
[code]

MRI is okay, JRuby shows the problem (rates are not equal).

Because if a thread enters `#transaction`

https://github.com/RubyMoney/money/blob/3ca8a3b95a1230315b5b4e19982b3520a734ad11/lib/money/rates_store/memory.rb#L64-L76

Any subsequent thread does not acquire the mutex so you end up corrupting the hash table.

[2019-10-23 22:06] ioquatix commented on #897
[code]

Another example of racy code.

[2019-10-23 22:08] ioquatix commented on #897
Let me know if I can provide any further support or assistance.

[2019-10-28 21:13] headius commented on #897
Regarding the fix: this is appropriate. Any reentrant locking should probably be done with Monitor.  Mutex is sufficient for e.g. wrapping non-reentrant updates to a data structure.

Regarding 2.7: I assume @ioquatix is referring to changes in how keyword args and normal Hash arguments get worked out by the runtime, to clarify that a little bit. There are some changes (i.e. disambiguations) going

[2019-12-02 23:49] juleswelsch opened #900 "6.13.5 : undefined local variable or method `options"
Hey,

With the new release 6.13.5, i have an issue with the rates update

undefined local variable or method `options' for #<Money::RatesStore::StoreWithHistoricalDataSupport:0x00007f91e3cc09d0>
Did you mean?  @options

PS : i use the gem eu_central_bank

 eu_bank                      = EuCentralBank.new
 Money.default_bank  = eu_bank
 eu_bank.update_rates

Have you an idea?

Thanks :)

[2019-12-03 05:54] blackavec commented on #900
same issue here

[2019-12-03 11:48] mithos99 commented on #900
Exact same eu_central_bank issue with 6.13.5
Had to roll back to 6.13.4

[2019-12-03 12:15] jonian commented on #900
A simple fix is to use a custom store:

[code]

The store above does not support historical data. To add support for historical data see the eu_central_bank implementation https://github.com/RubyMoney/eu_central_bank/blob/master/lib/money/rates_store/store_with_historical_data_support.rb.

[2019-12-04 22:52] antstorm commented on #900
Sorry about this, 6.13.6 is now available that include a fix for this regression

[2019-12-04 22:52] #900 closed

[2019-12-05 09:19] juleswelsch commented on #900
Hey @antstorm ,

Now the message error is different with the new release 6.13.6 when i try to update the rates.

undefined method `synchronize' for nil:NilClass

 ["/Users/juleswelsch/.rvm/gems/ruby-2.6.2@storeimmo_production/gems/eu_central_bank-1.4.2/lib/money/rates_store/store_with_historical_data_support.rb:26:in `transaction'", "/Users/juleswelsch/.rvm/gems/ruby-2.6.2@storeimmo_production/gem

[2019-12-05 10:33] jonian commented on #900
@juleswelsch, @antstorm the store implementation in `eu_central_bank` uses `@mutex.synchronize` which is deprecated (https://github.com/RubyMoney/money/commit/57c3da8675948b53a1605fc1a1eccbaa460d9599) and replaced by `guard.synchronize`.

The eu_central_bank store implementation needs a rewrite to use the new api.

https://github.com/RubyMoney/eu_central_bank/blob/master/lib/money/rates_store/stor

[2019-12-07 13:41] antstorm commented on #900
Sorry again, just published [eu_central_bank 1.5.0](https://rubygems.org/gems/eu_central_bank/versions/1.5.0) that should finally fix this and rely on a thread-safe implementation of the superclass for synchronisation

[2019-12-24 04:37] satnami opened #905 "Different behavior on different environment"
## Different environments will return inconsistent data and different values.

[code]

[code]

[2019-12-30 11:24] antstorm commented on #905
@satnami I suspect that the issue here is `as_us_dollar` method which is a shorthand for `exchange_to("USD")`. That method performs currency conversion using the latest exchange rate, which I suspect is different between your environments (you might be fetching it in a Rails initializer or something).

What happens when you call `Money.default_bank.get_rate('MKK', 'USD')` from both environments?

[2020-01-06 07:19] satnami commented on #905
it will return 2 different values.
I got to fix it by calling `Money.default_bank.update_rates`
It can also be fixed by restarting the process as explained here https://github.com/RubyMoney/money/issues/521

[2020-01-06 07:19] #905 closed

[2020-01-06 14:36] Bramjetten opened #909 "Round method arguments"
I called `.round(2)` on an object which I did not recognize as being a Money object. Contrary to BigDecimal's `round` method, the first argument actually sets the rounding_mode. I find this very confusing and harmful.

This creates the following rather unexpected output:

[code]

You can imagine how this can easily create confusing scenarios with rounding errors.

[2020-01-06 21:42] antstorm commented on #905
Got it, so it was a problem with different exchange rates and it is expected behaviour

[2020-01-06 21:49] antstorm commented on #909
@Bramjetten that's a good point and I agree that it might be confusing. Would you be interested in fixing this? We can include it in the next major release

[2020-01-09 16:48] MateoLa opened #910 "Fallback to i18n"
Hi,
money doesn't fallback to my locales despite:

``Money.locale_backend = :i18n``

I'm testing this through spree (master) that extends money in /core/lib/spree/money.rb

I have to do:
[code]

To see "$U" instead of "&#x20B1;"

Can you check this.
Thanks, MateoLa

[2020-01-09 16:55] MateoLa opened #911 "correct "uyu""
Hi,
"uyu" should have html_entity as "$" or "$U" ("$U" preferably) instead of "&#x20B1;"

Could you correct currency_iso.json.

Thanks, MateoLa

[2020-01-11 11:00] antstorm commented on #910
@MateoLa I had a quick look at Spree and it looks like it's using Rails and it's rails-i18n with the translations. From what I can tell there isn't a translation file for Uruguay. Can you check what is your `I18n.locale` set to?

[2020-01-11 11:03] antstorm commented on #911
Assuming this is related to #910, which seems like an a missing translation case on the I18n side. Here's UYU definition from the `master`:

[code]

Which I think is correct. In case you want to use these currency definitions you should set your `Money.local_backend` to `:currency`.

[2020-01-11 11:03] #911 closed

[2020-01-13 10:27] MateoLa commented on #910
Hi anstorm.

In my app, in application.rb I have deffined:

[code]

In my locale.rb I tryed:

[code]

The previous yould work if the fallback to i18n configured in the "spree/money.rb" file worked, but it is not.
The configurations in this file are been applied because in one initializer I'm doing:

``
Spree::Money.default_formatting_rules[:symbol_before_without_space] = false
``

and the space be

[2020-01-13 10:41] MateoLa commented on #911
Hi antstrorm.
Your currency definitions are not correct.
The Uruguayan symbol of money its "$U" and in your html-entity you have defined &#x20B1; that is worng.
That is what I'm trying to tell you.

[2020-01-13 19:31] antstorm commented on #911
@MateoLa I see, didn't know where it was coming from. Would you mind opening a PR that fixes the html_entity? You can also make it blank, in which case a `symbol` will be picked up instead, which should be correct

[2020-01-13 19:33] antstorm commented on #910
Yes, now I get it. So the problem is in the `html_entity` that does not respect the locale_backend. I guess it makes sense to only use it when the locale backend is `currency`, otherwise ignore it completely

[2020-01-13 19:34] antstorm commented on #910
And thanks for a detailed explanation of the issue 👍

[2020-01-16 17:56] MateoLa commented on #911
Ok, I don't mind.
I have done it in this moment.
Thank you

[2020-02-14 11:34] w0rm opened #917 "i18n backend doesn’t respect locale’s format"
I need to format money according to localization rules, that define the position of the currency symbol. The following example doesn’t work correctly according to the [`:fr` locale](https://github.com/svenfuchs/rails-i18n/blob/master/rails/locale/fr.yml#L162):

[code]

What I had to do to make it work as desired:

[code]

Should this be the default behaviour when using i18n backend?

[2020-03-01 10:58] antstorm commented on #917
Good shout, I delayed it to version 7, because it's a breaking change as far as the current specs are concerned, but might roll out it quicker. Will take another look

[2020-03-01 11:09] w0rm commented on #917
Great to know that this is already planned! There is no rush though, especially because this is a breaking change.

In the meantime, maybe we could mention this in the readme? It was a little tricky to figure out (I had to read the source code), I wonder if other folks would find this helpful too.

[2020-03-01 21:41] antstorm commented on #917
That's a great idea, totally worth mentioning this in the readme! 👍

[2020-03-01 23:49] #917 closed

[2020-03-30 14:31] svilensiderov opened #925 "Worng subunit_to_unit for HUF currency"
Hi,

I found a problem with [subunit_to_unit](https://github.com/RubyMoney/money/blob/master/config/currency_iso.json#L935) for _HUF_ currency. Exponent is 2 so it should be `100`.

[2020-03-30 14:57] ct-clearhaus commented on #925
Please notice https://github.com/RubyMoney/money/pull/742 🙂

[2020-04-03 09:48] henvo opened #926 "Deprecation of symbol_before_without_space breaks some functionality"
Hello there,

thanks for this great gem.

The PR https://github.com/RubyMoney/money/pull/798/files introduced the deprecation of the following keys for the `format` method:

`symbol_position`
`symbol_before_without_space`
`symbol_after_without_space`

in favor of the new `:format` key.

So for example:
[code]
should be replaced with:
[code]

While I can see the advantages of this new (more generic

[2020-04-08 19:33] mohitt opened #927 "MGA currency Formatting is broken"
If you try to format a `1000` MGA  it shows `Ar200.0`

https://repl.it/repls/ConsiderateMessyFiber

[2020-04-11 10:03] antstorm commented on #926
@henvo great question! So basically I think there are 2 ways to achieve this behaviour (both include changes to the gem):

1. Drop the old `symbol_first` options from the currency definitions in favour of `format`, which would also have (or not) the space between. This would be per-currency formatting

2. Use I18n locale backend, which in version 7 will include `format` (https://github.com/RubyMon

[2020-04-11 10:19] antstorm commented on #927
This is intentional — MGA has a subunit-to-unit ratio of 5, meaning there are 5 subunits in a unit. When you call `Money.new` it accepts amount in subunits (Iraimbilanja in case of MGA), which when converted to Ariary is 200 (1000 / 5). If you want to define amounts in Ariary instead use `Money.from_amount`

[2020-04-11 10:19] #927 closed

[2020-04-11 10:22] antstorm commented on #925
@svilensiderov as @ct-clearhaus has pointed out these are not easily fixable because people will already have these stored with incorrect exponents. Luckily you can re-register the currency in your project fixing the issue

[2020-04-11 10:22] #925 closed

[2020-04-23 05:24] DJ621 opened #928 "RCE while calling import_rates method"
A user can cause remote code execution on target system if he passes his payload to import_rates method.

This occurs due to the usage of Marshal.load

**POC :**
[code]

**Reference :**
https://www.elttam.com/blog/ruby-deserialization/
https://lab.wallarm.com/exploring-de-serialization-issues-in-ruby-projects-801e0a3e5a0a/

[2020-05-07 09:22] viktorsmari opened #930 "Cannot change thousands_separator for Icelandic"
Using `money (6.13.7)` `rails-i18n 5.1.1`

We have been using `number_to_currency` to display ~5 currencies.

Now we wanted to support more currencies, so we brought in the `Money` gem + `currency_select`

We assumed that after we do that switch, we have to stop using the `number_to_currency` and start using the `Money.from_amount` instead. Is that correct?

After the switch we noticed a **differe

[2020-05-07 12:25] viktorsmari commented on #930
So the solution was to upgrade `Money` to version **6.13.7**

Then in `config/initializers/money.rb` have;

[code]

The `thousands_separator` was already correct but `Money` was using the `I18n.locale` and in the examples that value was `:en` when we expected it to be `:is`, hence the wrong `thousands_separator`

I guess my surprise is that `Money.locale_backend = :currency` is not default.
To me

[2020-05-09 22:02] antstorm commented on #930
@viktorsmari sorry for the confusion, glad you figured it out. There are a few reasons for not defaulting the `locale_backend` to `currency`. First of all it's the backwards compatibility, which should not longer be a problem with the release of the v7. More importantly — I'm not sure it is a great default. Localising formatting based on the currency is not necessarily what the majority use-cases

[2020-05-09 23:25] antstorm commented on #928
@DJ621 thanks for pointing out, I guess it's ok since `import_rates` would normally be used with the rates cached by your app and also there are other formats like `:json` and `:yaml` available, which should be safe. I'll add a note to `README` suggesting it might not be safe

[2020-05-09 23:25] #928 closed

[2020-05-10 07:05] viktorsmari commented on #930
Yes, the plan was simply to offer multiple currencies (without doing conversion or exchange).

This is what we currently do:

1. Offer the 5 languages (Icelandic, Spanish etc) we have for the app, using `i18n`
   * Will save `is` or `es` in the `@company.locale`
[code]
1. Offer all the currencies `Money` has
   * Will save `USD` or `ISK` in `@company.currency`
[code]
1. Display currencies using:
[

[2020-05-10 22:22] antstorm commented on #930
Yes, this seems like the correct approach. I guess the main difference would be in choosing the correct `locale_backend` for your needs:

`:currency` — will depend on the choice of currency, so a person with the same locale will see different formatting depending on which currency he selected
`:i18n` — this will give you consistent formatting (decimal mark, thousands separator) while the locale st

[2020-05-12 03:05] mayrsascha opened #932 "Tuvaluan dollar is not a currency"
I would like to ask for the reason of not adding the TVD as a currency.

A quick Wikipedia check reveals that it's only a `unit of account` and pegged 1:1 to the Australian Dollar. This is similar to the Panamanian Balboa (PAB, pegged to USD).

Interestingly this gem lists `PAB` as a separate currency.

This conflicts with https://github.com/hexorx/countries#currencies which has the TVD assigned a

[2020-05-12 05:32] akhtarja opened #933 "The Swedish Krona's sub-unit is displayed"
We are using this gem for a large SaaS with customers all over the world. A client in Sweden pointed out that we are displaying the sub-unit of the Swedish Krona (SEK) in prices.

The Swedish Krona's sub-unit is not conventionally used in Sweden, and prices are, as a general rule, always shown in whole Krona.

**Expected behaviour:** Amounts in SEK should be returned as whole numbers. This could f

[2020-05-12 06:28] mayrsascha commented on #932
Ok after reading up on it, it seems reasonable, see https://en.wikipedia.org/wiki/ISO_4217. Closing.

[2020-05-12 06:28] #932 closed

[2020-05-12 08:37] ct-clearhaus commented on #933
From a Dane that only seldomly visits Sweden, the use of sub-unit seems to depend on the context:
* On https://proshop.se I found no examples of sub-unit precision prices, but the sub-units are shown; well, not entirely true; the "without tax prices" (shown in parenthesis) are in sub-unit precision.
* On https://www.coop.se/handla/aktuella-erbjudanden some prices use sub-units.
* On https://www.ge

[2020-05-15 04:55] akhtarja commented on #933
Thank you for the thorough explanation @ct-clearhaus - this makes sense, and I think it would be improper to change the library's behaviour on this to accommodate our customers specifically. I'll talk this through with our product team, and if necessary, we'll fork the library and make the changes there, just for our own use.

[2020-05-15 05:00] #933 closed

[2020-05-15 05:41] ct-clearhaus commented on #933
Visa and Mastercard does also not follow ISO 4217, so we have locally overridden some exponent values; that's easily possible without forking the library 🙂

[code]

[2020-05-16 10:31] antstorm opened #934 "[Discussion] Default formatting"
Hi everyone 👋,

I want to get your opinion on the expected default money formatting settings. So far I've seen two approaches to formatting — **currency** based and **translation** based (`locale_backend` equals to `:currency` or `:i18n`/`:r18n`).

**Currency** based formatting suggests that your formatting changes per currency of the money object. For example 1M EUR will get formatted as `€1.000.

[2020-06-25 19:38] collimarco commented on #934
I was going to open a new issue, but then I found this which is probably related.

We have a website where restaurants can create an online menu ([example](https://buonmenu.com/example)). The problem is that we have restaurants from all over the world and every country has specific conventions for formatting  (e.g. symbol before or after or in the middle, point or comma for decimal, point or comma

[2020-06-26 11:47] collimarco commented on #934
I just found this [related topic](https://ux.stackexchange.com/questions/9105/international-currency-formatting-guidelines-currency-codes) which shows different points of view.

[2020-07-10 15:09] tweymuth commented on #909
I would be willing to work on this. We would "simply" change the order of the two arguments in the `round` method to have the same order as in the `BigDecimal` class, right?

[2020-07-14 11:17] collimarco opened #936 "Make spacing part of the currency rules"
In the following file it would be useful to support a `symbol_with_space`  option:

https://github.com/RubyMoney/money/blob/master/config/currency_iso.json

In particular, while some currencies don't use a space (e.g. `$10.00`), some other currencies need a space (`CHF 10.00`).

Currently you get `CHF10.00`, but that is a little bit strange and hard to read.

Having that new option would be a cons

[2020-07-14 11:20] collimarco commented on #934
I have just noticed that this gem already has a feature to `format` properly based on the currency:

https://github.com/RubyMoney/money/blob/master/config/currency_iso.json

That is awesome for our use case! (I hope you won't deprecate that)

Just a side note: it would be useful to also [define spacing rules](https://github.com/RubyMoney/money/issues/936) in that file.

[2020-07-14 13:05] collimarco commented on #926
Defining a `format` for each currency, inside this gem, can also solve this issue: https://github.com/RubyMoney/money/issues/936

[2020-07-15 22:35] antstorm commented on #936
@collimarco as you've noticed in other threads there's a `format:` option that can be used to specify the exact formatting you expect. You should be able to use `.format(format: '%u %n')` to achieve the desired result

[2020-07-16 08:25] collimarco commented on #936
@antstorm Thanks, I already know that.

The point is that we use this:

[code]

It's awesome because we have customers from many different countries and we need to format their currency based on their local conventions.

The problem is that **the result of the above code is not always correct: we received complains from Switzerland customers saying that `CHF` needs a space after it**.

However the

[2020-07-17 19:57] mrhead commented on #934
In Slovakia, formatting is not currency specific but language specific. So even if default setting for `eur` is to put the symbol first, we put it second (e.g. We use `123 €`, not `€123` nor `€ 123`).

I'm not sure how it is in other languages, but I personally would prefer to use language settings for the symbol placement.

[2020-07-18 10:54] antstorm commented on #936
@collimarco this does make sense and sounds like a good direction forward. Would you be up to put together a PR with this change (adding `format` to the currency definitions)?

[2020-07-25 23:09] deepakhb2 commented on #732
@antstorm Is this still an open issue? to optimise the comparison method if one of the money object fractional value is zero.

@Sticksword I think you have not configured the exchange rates for CAD to USD so you are getting the above error. Comparison works fine if exchange rates are added.

[2020-07-29 10:20] tlkiong opened #940 "Getting value of money object"
I know in the documentation it states to use `.to_f` to get the final amount in float.
However, is there any way I can get the final value in the required format based on the currency?

For example:

1. USD has decimal place in its amount.
2. JPY has no decimal place in its amount.

Given that the currency is dynamic, is there a way I can do something like:

[code]

And it will output the value in

[2020-08-02 22:25] antstorm commented on #732
@deepakhb2 hope this works ^

[2020-08-02 22:31] antstorm commented on #940
@tlkiong I think the closes option that exists today is `.format`:

[code]

It won't give you integer/float, but it might still work for you

[2020-08-05 21:31] deepakhb2 commented on #732
@antstorm Yes it works. Thank you.

[2020-08-06 21:44] #732 closed

[2020-08-10 03:59] khoan commented on #707
Then v7 will break code that relies on `ROUND_HALF_EVEN`. Is there any way to set default to `ROUND_HALF_EVEN` with v7? Thanks.

`ROUND_HALF_EVEN` is a rounding technique to reduce amount of error, see http://www.xbeat.net/vbspeed/i_BankersRounding.htm

[2020-08-10 09:54] antstorm commented on #707
@khoan here's the PR that introduces the change — https://github.com/RubyMoney/money/pull/872/commits/fa03b095b118a78da5cebfe7bd296900d7a73c81. As you can see it is still configurable and there's a deprecation warning in the current release allowing you to set it explicitly to avoid any breaking changes when upgrading. Hope that works for you

[2020-08-13 17:21] deepakhb2 commented on #936
Looks like a good option to have and I will work on this @antstorm.

[2020-08-14 00:26] deepakhb2 commented on #936
@antstorm The formatting position of symbol and amount depends on following rules:
1. format: %u%n => This rule overrides the default symbol_first rule assigned to currency.
2. symbol_position: :before/:after => This rule also overrides default symbol_first rule assigned to currency.
3. symbol_before_without_space: true/false => This rule is to add space between symbol and amount. If this rule is

[2020-08-14 16:15] deepakhb2 commented on #936
#943

[2020-08-14 16:19] deepakhb2 commented on #936
@antstorm / @collimarco, Please verify the pull request #943. Will this solves the issue. Thank you.

[2020-08-15 10:32] collimarco commented on #936
@deepakhb2 Seems great to me!

[2020-08-19 17:18] deepakhb2 commented on #936
The pull request #944 is for v7.
cc: @collimarco @antstorm

[2020-08-27 16:00] sbulat opened #945 "Formatting amount without a symbol (AUD, NZD)"
[I'm using the latest version (6.13.8)]

Recently I bumped into an issue with formatting the money object with a specific currency. I needed to get a value from a Money object but without any symbol. There are some currencies that have a problem with that:

[code]

The same goes for the "AUD" currency.

It removes the "$" sign but, I would assume it won't have "NZD" at the end as well. Is this a b

[2020-08-27 20:53] antstorm commented on #945
@sbulat try using `.format(with_currency: false)`

[2020-08-27 21:18] deepakhb2 commented on #945
@sbulat The format method responds back with value with both symbol first and currency at the end only if the :with_currency is set true. I think, this value is set in Money.default_fomatting_rules and this can be overridden by passing :with_currency parameter to format method as suggested by @antstorm. I don't see any bug and please check default_formatting_rules.

[2020-08-28 08:47] sbulat commented on #945
I see that now, thanks for the quick answer and the solution!

[2020-08-28 08:47] #945 closed

[2020-08-31 20:51] jaresty opened #947 "HUF should be a 2-decimal currency according to ISO 4217"
The money gem currently specifies HUF as a 0-decimal currency here:

https://github.com/RubyMoney/money/blob/265de50b987b8c69261dde013c8dd18a567279df/config/currency_iso.json#L935

But according to the [ISO 4217 standard](https://en.wikipedia.org/wiki/ISO_4217) it should be 2-decimals.  Can you please fix this?

[2020-08-31 23:07] jaresty opened #948 "Please fix the subunit_to_unit value for MGA"
The money gem currently specifies MGA as having subunit_to_unit of 5 here:

https://github.com/RubyMoney/money/blob/6c7ff103ff3ba9789264c8e97e7cda2e86b5c874/config/currency_iso.json#L1346

But according to the [ISO 4217 standard](https://en.wikipedia.org/wiki/ISO_4217) it should be 2-decimals (which I think is 100?).  Can you please fix this?

[2020-09-01 05:51] ct-clearhaus commented on #947
Please notice #742 🙂

[2020-09-01 12:24] korun commented on #897
@antstorm, should it be closed with #898 ?

[2020-09-01 18:58] jaresty commented on #947
Thanks for the pointer.

[2020-09-01 21:51] antstorm commented on #897
@korun Yes, good point, thank you 👍

[2020-09-01 21:51] #897 closed

[2020-09-05 21:51] antstorm commented on #948
It has a remark saying:

I wonder if that's ever used by anyone

[2020-09-19 09:57] #936 closed

[2020-10-12 07:59] marleyjustin08 commented on #598
#588

[2020-10-12 08:00] marleyjustin08 opened #955 "> .``#598"
_Originally posted by @marleyjustin08 in https://github.com/RubyMoney/money/issues/598#issuecomment-706950180_

[2020-10-12 12:04] #955 closed

[2020-10-23 17:36] zain-awais-gs commented on #880
Can we change the priority of the currency?

[2020-10-25 21:27] antstorm commented on #880
@zain-awais-gs can you please expand on what you mean?

[2020-10-27 18:44] zain-awais-gs commented on #880
Actually, I was trying to override the priority attributes of the currency to get the top ten currencies. But wasn't able to

#<Money::Currency id: cad, **priority: 5**, symbol_first: true, thousands_separator: ,, html_entity: $, decimal_mark: ., name: Canadian Dollar, symbol: $, subunit_to_unit: 100, exponent: 2, iso_code: CAD, iso_numeric: 124, subunit: Cent, smallest_denomination: 5>

[2020-11-09 23:06] antstorm commented on #880
@zain-awais-gs this actually feels like a bug. Would you have some time to open a PR fixing this?

[2020-11-10 04:03] keephighe opened #956 "Hi"

[2020-11-13 22:27] #956 closed

[2020-11-16 09:54] satnami opened #957 "Fix Bahraini dinar symbol"
Issue #957 - According to the [ISO-4217](https://en.wikipedia.org/wiki/Currency_symbol) and [Bahraini dinar Wiki](https://en.wikipedia.org/wiki/Bahraini_dinar) and [Bahraini dinar Ar Wiki](https://ar.wikipedia.org/wiki/%D8%AF%D9%8A%D9%86%D8%A7%D8%B1_%D8%A8%D8%AD%D8%B1%D9%8A%D9%86%D9%8A) the correct currency symbol for this Bahraini Dinar should be د.ب instead of ب.د

[2020-12-14 05:57] johnpitchko opened #961 "warning: rb_check_safe_obj will be removed in Ruby 3.0"
Receive the warning multiple times when using this gem (or rather, the Jekyll wrapper around it). Not sure if anyone else is encountering it.

[code]

[2021-01-20 09:49] kennyadsl opened #966 "Formatting for some currencies changed in v6.14"
Hey there! 👋

In [Solidus](https://github.com/solidusio/solidus) we noticed that some currencies formatting changed with the last version and we were relying on the previous formatting. For example:

[code]

I think this is due to https://github.com/RubyMoney/money/pull/943, which is even not part of the CHANGELOG (not sure if there's a reason for that, but I can submit a PR to add it). If I got i

[2021-01-22 20:49] ghbren opened #970 "When will next major release happen?"
Hi, Any ideas when the next major release will happen?

[2021-01-26 00:10] antstorm commented on #970
Things have been a bit slow on this front, we might have stacked too many changes for v7, so we'll probably break them down and instead of one release do a number of releases instead.

That being said you should be able to set your default current to `nil` (or `USD` if that's what you prefer) explicitly and the warning should go away.

[2021-01-27 03:39] multiplegeorges opened #971 "Allocation without remainder acts different depending on order of allocations"
Hey there,

I'd expect these two cases to both return 8000 and 4000.

[code]

I've solved this by presorting my share array from smallest to largest, but I thought it looked like buggy behaviour.

Thoughts?

[2021-01-27 20:13] nerde opened #972 "Should we use a more explicit constructor instead of Money.new?"
A while back I got bitten by `Money.new` because I was passing a `Float` to it thinking it would understand, for example, `12.5` as `$12.50`, but as we know it becomes `$0.12`.

Then it happened again with a coworker and another coworker said he's already had this issue as well. Because of this, I think `Money.new` is misleading and it should be renamed to `Money.from_cents`. We already have `Mone

[2021-01-27 23:44] antstorm commented on #971
@multiplegeorges we always allocate the remained to the first fraction, which is why you're getting different results. We could potentially allocate the remainder starting from the smallest fraction which would give you a consistent behaviour

Happy to accept a PR if you have some time to submit a solution

[2021-01-27 23:57] antstorm commented on #972
@nerde that makes perfect sense, yes and I know this can be confusing to people who never used the gem before. Happy to accept a PR with a new `Money.from_cents` method. I would keep `Money.new` around for backwards compatibility

[2021-01-28 00:07] nerde commented on #972
Makes sense on leaving it around for now. Would you agree with having a warning there though? We could deprecate it and remove in a later major release.

I'll find some time to work on a PR, thanks!

[2021-02-01 23:35] antstorm commented on #972
@nerde it might be quite annoying for apps that rely heavily on Money gem. Potentially just removing the mentions of it from README should help with new engineers, while all others most likely got used to it

[2021-02-10 17:45] multiplegeorges commented on #971
I looked into making a patch for this, but it looks like it will subtly change the existing behaviour in unrelated cases. By changing where the penny goes, it could break code that expects the current split behaviour. There isn't a very good way to gauge user intent in this case.

I think the best solution is to have the user pre-sort their allocation amounts into ascending order, if it matters to

[2021-02-10 22:29] antstorm commented on #971
@multiplegeorges I think the trick is re-ordering the result back to make sure it's consistent. Consider someone doing something like:

[code]

We want to ensure there are no unexpected surprises

[2021-02-17 13:19] silva96 opened #973 "DEPRECATION WARNING when subunit_to_unit factor is 1"
Version: 6.14.0

[code]
Gives
[code]
![image](https://user-images.githubusercontent.com/4019924/108209246-d7da0a00-7108-11eb-914b-0786a9a155af.png)

[2021-02-18 23:37] antstorm commented on #973
Hmm, I'm not getting this warning, can you check if that's still the case for you on `master`?

[2021-02-19 20:35] isaacbowen commented on #973
It's fixed in fe75d8fc6a592ad262c9b49ceeaf7d425814e2a8, but there hasn't been a gem release yet which includes that commit. (We're seeing this warning too. :D)

[2021-02-26 21:21] wwahammy opened #974 "Load currencies from different location?"
Is there a way to load currencies from a different location than the money gem config? I have a different logic I'd like to use to decide which currencies to actually make available so I'd like to not load any from the Money gem directly.

If this isn't currently possible, would adding this be a welcome contribution? And if so, does the team have any suggestions on how it should be designed?

[2021-02-26 23:18] isaacbowen commented on #973
Fixed in 6.14.1! 🙌

[2021-02-27 02:49] #810 closed

[2021-02-27 02:49] #815 closed

[2021-02-27 02:49] #862 closed

[2021-02-27 02:49] #870 closed

[2021-02-27 02:49] #880 closed

[2021-02-27 02:49] #881 closed

[2021-02-27 02:49] #884 closed

[2021-02-27 02:49] #892 closed

[2021-02-27 02:49] #894 closed

[2021-02-27 02:49] #909 closed

[2021-02-27 02:49] #910 closed

[2021-02-27 02:49] #926 closed

[2021-02-27 02:49] #930 closed

[2021-02-27 02:49] #934 closed

[2021-02-27 02:49] #940 closed

[2021-02-27 02:49] #947 closed

[2021-02-27 02:49] #948 closed

[2021-02-27 02:49] #957 closed

[2021-02-27 02:49] #961 closed

[2021-02-28 22:04] #598 closed

[2021-02-28 22:04] #628 closed

[2021-02-28 22:04] #642 closed

[2021-02-28 22:04] #665 closed

[2021-02-28 22:04] #699 closed

[2021-02-28 22:04] #710 closed

[2021-02-28 22:04] #717 closed

[2021-02-28 22:04] #770 closed

[2021-02-28 22:04] #806 closed

[2021-02-28 22:04] #809 closed

[2021-03-02 04:46] ioquatix commented on #710
Since this issue just showed up I want to add that we recently did aggregation in the database by storing it as floats. This was fine for sums & averages and if you store the currency in a separate column it works pretty well for group by. Using this approach we could index and aggregate 100 thousand+ rows fairly quickly.

[2021-03-02 06:30] krtschmr commented on #710
Do not use floats!
I have multiple crypto projects and if I change to floats, the tests
will be red

Use decimal instead

Am 02.03.2021 05:46, schrieb Samuel Williams:

[2021-03-02 12:28] semmons99 commented on #710
agreed. floating-point math has known arithmetic issues. this can be handwaved in standard fixed currencies. with Bitcoin, your floating-point math error could result in a single calculation being off by 10,000+ USD

[2021-03-02 13:24] pawlik opened #977 "Error `undefined method locale_backend=` after update from 6.13.8 to 6.14.1"
Hello there :) Our initializer started to fail

[code]
[code]

And since the changelog does not mention any changes there, I thought that you might have accidentally released a version with some regression.

Best! And thanks for a great gem :clap:

[2021-03-02 15:17] pawlik commented on #977
Sorry, the issue was with money-rails, and it was an unintended downgrade.

[2021-03-02 15:17] #977 closed

[2021-03-02 18:20] wwahammy commented on #974
Not sure there's a way built into 'money' to do this but here's how I solved it.

I created a concern which overrides the `load_currencies` method of `Money::Currency` with my custom load logic:
[code]

Then I include the concern into `Money::Currency` and reset the list of currencies:

[code]

This will clear the list of currencies and reload the list using the logic in our concern.

[2021-03-02 18:20] #974 closed

[2021-03-02 19:21] #973 closed

[2021-03-02 19:23] semmons99 commented on #972
agreed. this would cause a lot of work across potentially thousands of projects. IMO it is better to be surprised, read the docs, and learn in the future to always read docs instead of assuming.

[2021-03-02 19:25] semmons99 commented on #971
hmm. I think this one is too subtle to create a change that does not impact people that would not notice the change. I suggest we close and add documentation if someone feels compelled.

[2021-03-02 19:26] #970 closed

[2021-03-02 19:26] semmons99 commented on #966
appears this is solved. closing.

[2021-03-02 19:26] #966 closed

[2021-03-02 19:27] multiplegeorges commented on #971
Yeah, that was the simplest solution I could find. There's no good way to "fix" it for all cases including backwards compatibility.

Asking an end user to be aware of their sort order isn't onerous at all, I think.

[2021-03-02 19:29] nerde commented on #972
The problem wasn't lack of reading the docs, it's just easy to forget that `.new` receives cents. But I agree it'd cause headache to deprecate. I'll just add support for `from_cents`, update the Readme.

Thanks for answering!

[2021-03-03 02:19] semmons99 commented on #972
excellent. closing and awaiting PR for new method and docs update

[2021-03-03 02:19] #972 closed

[2021-03-03 02:20] #971 closed

[2021-03-07 21:24] leoplct opened #979 "No rates available for AED"
It looks like AED/EUR its's not supported. How can I switch to Google Currency?
I have tried with  config.default_bank = GoogleCurrency.new`
but the class is not found. I haven't found the info in the doc.

[code]

I have added fixed rates, but it's not working.
[code]

[2021-03-07 22:16] semmons99 commented on #979
Unfortunately, Google shutdown their free currency API. You might have luck with https://rubygems.org/gems/money-open-exchange-rates

also, i believe you should add the rate to the bank itself.

[2021-03-07 22:26] leoplct commented on #979
Ok, could you say why if I add the rate manually it's not working? Do I need to add something else?

[code]

[2021-03-08 00:35] semmons99 commented on #979
I think you are mixing MoneyRails and Money together in an unexpected way. Simply add the bank or rates to `Money` as shown below.

[code]

[2021-03-09 15:58] leoplct commented on #979
I have removed the MoneyRails gem, added the "Money" gem, and I have run bundle.
but it's not working. I don't know why.

`$ rails c`
[code]

[2021-03-09 18:29] semmons99 commented on #979
I see, you are expecting the banks to fall through. This is not how banks work. You can only have one. To add missing rates to the bank, try

[code]

[2021-03-09 19:38] leoplct commented on #979
I have tried as you suggested but I get the same error only for AED.

[code]

[2021-03-09 19:42] leoplct commented on #979
I have tried as you suggested, but it doesn't recognize AED and not working any more currencies like USD->EUR.

[code]

[2021-03-10 10:13] thevtm opened #980 "Allow Money to be exchange using a specific Exchange Rate"
First of all thanks for making this awesome gem.
Our team has been using Money gem very successfully for quite some time now.

But we encountered a use case that doesn't seem to be support at the moment.
We would like to be able to exchange a `Money` object for a specific exchange rate, bypassing the `Money::Bank`.

The API could look something like this:
[code]

If this looks okay for you guys I'

[2021-03-15 11:43] thevtm commented on #980
I ended up using this workaround:

[code]
Tests for it:
[code]

[2021-03-15 19:34] semmons99 commented on #980
fair enough. that works.

[2021-03-15 19:34] #980 closed

[2021-03-17 08:50] koenhandekyn opened #983 "XXX No currency"
any reason why XXX No Currency - part of the ISO 4217 standard - is not included ?

XXX | 999 | . | No currency
-- | -- | -- | --

see https://en.wikipedia.org/wiki/ISO_4217

[2021-03-17 15:51] semmons99 commented on #983
mostly around its utility. is a XXX in a sense an error state, or should we handle it? I do not know the answer. What do you think @koenhandekyn

any thoughts @antstorm ?

[2021-03-17 16:40] koenhandekyn commented on #983
they added it in the standard i think to be able to model cases where you have 'transactions' in a generic way, and where exceptionally there is no relevant currency and it's just nicer to not have to mess around with NULLs and NILs and related exceptions ;)

it's like this one, a special one, but as they are part of the standard, i would propose to simply follow the standard and include them. i c

[2021-03-17 16:42] koenhandekyn commented on #983
this is the official list in XML format, direct link

https://www.currency-iso.org/dam/downloads/lists/list_one.xml

extract

[code]

[2021-03-17 17:53] semmons99 commented on #983
The biggest question I have is subunit to unit conversion. Assume this just has no subunits?

I think a PR would make this much easier to discuss if you are willing to make one. Be sure to include a CHANGELOG, CONTRIBUTORS, and minor version update

[2021-03-23 23:19] antstorm commented on #983
@semmons99 agree that adding `XXX` might get confusing and discussing this over a PR should make is more constructive

[2021-03-24 11:01] installero opened #986 "Comparison between two currencies (greater/less than)"
Can I compare two objects in different currencies? I've searched throug the issues and found only [this](https://github.com/RubyMoney/money/issues/377) thread. Where only equality is discussed.

I wonder if understanding which on is greater/less is useful (seems so).

[code]

[2021-03-24 22:47] deepakhb2 commented on #986
The current behaviour is when you compare USD with RUB. The code converts the RUB to USD and than compare USD to USD.
The reason you are seeing the above exception is because it is not possible to convert RUB to USD. You need to add the rate for RUB to USD eg. `Money.add_rate("RUB", "USD",  0.013) so that RUB is converted to USD and the comparison works.
The modified code as follows below:
rub = M

[2021-03-25 01:07] semmons99 commented on #986
one quick follow-up, the reason is does not intuit the reverse is that currencies do not always covert between each other consistently. Most of the time it does, but when it does not, it causes severe issues,

[2021-04-14 11:11] pawlik opened #987 "Should `Money.zero` have currency?"
I'm on `money-6.13.8`

[code]
but
[code]

and also
[code]

I wanted to use `Money.zero` in my project instead of `Integer(0)` for consistency, but I can't (I can but only for comparisons, not as a starting point in Array#inject, etc).
Just dropping it as an open question, I'm not sure what's the right answer given the possible implications to the rest of the project. Thank you :)

[2021-04-14 11:39] semmons99 commented on #987
Yes. All money objects should have a currency—even a `nil` currency—such that proper arithmetic is done at all times with them. That being said, `.zero` is just an alias for `.empty` and can have its currency set as seen here: https://github.com/RubyMoney/money/blob/main/lib/money/money/constructors.rb#L12

[2021-04-21 20:07] pawlik commented on #987
@semmons99 (sorry for long no reply, missed the notification).

I think I don't follow.

I'm not sure that I understood what you mean by `nil` currency.
[code]

I'd be fine with `Money.zero` having `nil` currency, then this could be doable
`Money.empty(nil) + Money.from_amount(100, "USD") == Money.from_amount(100, "USD")`

In other words `Money.zero` behaving as `Integer(0)`. But this is not what

[2021-04-22 15:46] semmons99 commented on #987
Sorry, I mistyped my response. I meant to say

In mathematics, we have to respect the units. You cannot add two numbers together with different units, hence even a zero needs a unit.

[2021-05-03 06:38] fkapsahili opened #988 "Missing from_cents method"
Hi,
I am trying to use the from_cents method as in the examples like this:

[code]

However, I then get the error message:
[code]

When I run Money.methods, I don't see the from_cents method anywhere either. Has this been replaced by `from_amount'?

I am using the following versions:
Rails: 6.1.3.1
Ruby: 2.5.8p224
Money: 6.14.1

[2021-05-04 16:35] semmons99 commented on #988
`from_cents` was added in 6.16.0

[2021-05-07 04:24] armstrjare commented on #988
@semmons99 6.16.0 hasn't been pushed to Rubygems by the looks

[2021-05-09 23:05] semmons99 commented on #988
![source](https://user-images.githubusercontent.com/27679/117589751-b590d080-b0e8-11eb-85e6-1e8c1b76f704.gif)

fixing that now

[2021-05-09 23:06] semmons99 commented on #988
@armstrjare all set. available now

[2021-05-09 23:06] #988 closed

[2021-05-17 13:00] aishek opened #989 "Question: how to format currency with currency symbol prepended?"
As far as I can understand currently there is no ability to format currency with currency symbol prepended: https://github.com/RubyMoney/money/blob/main/lib/money/money/formatter.rb#L310

Could you share your plans or thoughts on it?

[2021-05-17 13:10] semmons99 commented on #989
can you share more, please? I cannot fully understand what you are requesting/asking.

[2021-05-17 15:09] aishek commented on #989
Oh, sorry.

I need to format 100 euro as `100,00 €` in German, and as `€100.00` in English. Is it correct that `.format` could not be configured like this?

[2021-05-17 17:52] semmons99 commented on #989
This feels like something i18n would handle. So, if your locale for a request is set to de.DE, it would work correctly, and if the locale was set to en.GB it would work correctly. Format should respect the i18n locale. You could also consider manually formatting if you want to ignore the built-in locale code.

[2021-05-18 16:49] gja88 opened #990 "What"
gem install money
The development version (hosted on Github) can be installed with:

git clone git://github.com/RubyMoney/money.git
cd money
rake install
Usage
require 'money'

# 10.00 USD
money = Money.new(1000, "USD")
money.cents     #=> 1000
money.currency  #=> Currency.new("USD")

# Comparisons
Money.new(1000, "USD") == Money.new(1000, "USD")   #=> true
Money.new(1000, "USD") == Money.new(100,

[2021-05-18 20:58] #990 closed

[2021-05-24 13:14] IanVaughan opened #991 "Dated Exchange rates"
I have requirements to exchange money based on exchange rates on specific dates.
This is working fine currently by using manual converting code, rather than the Exchange rate stores.
What I'm thinking is if this is something that could/should be brought into Money gem?
I'm happy to implement it and raise a PR, but wanted to check first if its likely to be accepted.

I'm thinking that the interface

[2021-05-25 04:40] semmons99 commented on #991
i feel this is more the domain of a separate gem. would be happy to host in the RubyMoney project and to contribute.

SE

On Mon, May 24, 2021 at 06:14, Ian Vaughan ***@***.***> wrote:

[2021-05-25 07:16] ct-clearhaus commented on #991
I think it's valuable. Different sources could also be considered. (Often times you have not only buy and sell rates but such pairs in a multitude of different banks.) Dunno if it belongs together?

No opinion re. separate gem or not.

[2021-05-25 08:27] IanVaughan commented on #991
I'm not sure how a separate gem would work, as the interface needs to change.
It might end up be a fork of this gem, which would need keeping up to date with the core.
I will take a look at how that might be done though, as sounds interesting.
If that does not seem workable, I will push a branch with ideas about bring it into the core gem.

[2021-05-25 13:07] semmons99 commented on #991
you can extend the functionality or replace it using the separate gem

[2021-06-03 16:30] leoplct commented on #979
Hello,
I am following up on this. How could we money-patch the gem to fallback to a hard-coded exchange rate for AED?

[2021-07-02 18:24] kobesjjs opened #994 "Fsg"
Gshs

[2021-07-12 21:21] jcdavison opened #995 "Money.from_cents stopped working ?"
Hello,

I'm using money via money-rails gem,

[code]

and I can't convert from cents, only dollars,

[code]

it would be useful if `from_cents` worked here, not sure if there is some import/override issue in how money-rails is working, maybe I need to post this over there ?

good stuff in the gem though, thx :)

[2021-07-15 00:23] jtm240 commented on #995
`#from_cents` [was added in 6.16](https://github.com/RubyMoney/money/issues/988), but the most recent version of `money-rails` is pinned to version 6.13.2. I would open an issue on `money-rails` and ask the maintainers to publish an updated gem.

In the meantime, you can use `Money.new` as `#from_cents` is just an [alias](https://github.com/RubyMoney/money/commit/2d56c634a98075fb9a87334727d7dd550c

[2021-07-20 08:09] leoplct opened #996 "hard-coded exchange rate for not supported rates"
I am using EU Central Bank but they are not supporting some currencies (SGD, AED etc..).
How can I hard-coded some EUR TO X exchange rate as a fallback option?

[code]

I'd like to make it working everywhere in my code.

[2021-09-11 19:46] JensDebergh opened #997 "10th or 100th of cents support"
Hi!

I have a question regarding the money gem. I have a client who needs calculations to be done with a precision bigger than 2. I know this gem handles everything up to a precision of 2 perfectly fine since values are stored as the amount of cents as an integer on the table

But what if I would need a smaller "unit" of the money gem to something smaller than cents. Like 10th of a cent or a 100th

[2021-09-14 08:34] ct-clearhaus commented on #997
Just a quick thought: I guess you could define your own currency like `USD4` ("USD with exponent 4") and have conversions etc. between `USD` and your `USD4`. Not sure how it'd work out, but maybe worth investigating 🤷‍♂️ 🙂

[2021-09-14 08:44] JensDebergh commented on #997
Hey! In the meantime I found the solution to my problem.

Set infinite precision on the money gem:

[code]

The column you defined in cents needs to be defined as a bigdecimal with the precision you want.

[2021-09-14 14:23] nicklozon opened #998 "Publish v6.17.0 gem"
May one of the rubygems.org owners please publish the latest version of the gem?

Thank-you in advance!

[2021-09-21 13:07] nflorentin opened #999 "Deprecation message about "symbol_position: :after" is a bit misleading"
Hi,

When using this configuration:
`Spree::Money.default_formatting_rules = { symbol_position: :after }`

I'm getting this deprecation message:
_"symbol_position: :after is deprecated - you can replace it with format: %n %u"_

But replacing `default_formatting_rules = { format: "%n %u" }` seems not equivalent to `{ symbol_position: :after }` for negative numbers.

With `{ symbol_position: :after

[2021-11-30 14:21] hadaromash opened #1003 "Wrong subunit_to_unit in Icelandic króna"
Reading online, I see that Icelandic króna subunit is eyrir and worth 1/100 of the króna:
https://en.wikipedia.org/wiki/Icelandic_kr%C3%B3na
https://famouswonders.com/icelandic-krona/

[2021-12-07 14:18] #1003 closed

[2021-12-30 12:32] mohamedamrabdeen opened #1005 "help kali lunix"
rake aborted!
LoadError: cannot load such file -- rspec/core/rake_task
/root/money/Rakefile:3:in `<top (required)>'
/var/lib/gems/2.7.0/gems/rake-13.0.6/exe/rake:27:in `<top (required)>'
(See full trace by running task with --trace)

[2021-12-30 17:31] jaredbeck commented on #998
Also, weirdly, it looks like 6.15.0 (which, like 17 is in the changelog) was never published either?

[2022-01-23 17:03] grk opened #1007 "Wrong output with sign_before_symbol: true for currencies with symbol after the number"
Formatting with `sign_before_symbol: true` results in weird output for currencies that use symbol after the amount. Compare those two for example:

[code]

While the USD result is correct, for PLN I'd expect the output to be `-1,23 zł`.

Is there any setting that I missed that would make format report the minus sign at the beginning for all currencies?

[2022-01-31 05:36] gja88 opened #1009 "NBA2K22 BEST BUILD RIGHT NOW"

[2022-02-02 14:56] katelovescode opened #1010 "RSpec have_attributes matcher and zero numerics"
Right now I have a model and a spec and I can only do the matcher specifically with `eq` as opposed to `have_attributes`, but only when the number is not zero.

ex:
[code]
This column was created before we started using Money, so we're converting it in the getter

[code]

Is there a reason the fourth example passes but the third example fails with the `have_attributes` matcher?

[2022-02-06 17:27] deepakhb2 commented on #1010
I think the have_attributes method directly pull the values that is stored in table so it will not be mapped to Money class object and also the value of field fee is not stored as object of Money class (ref: [link](https://github.com/rspec/rspec-expectations/blob/4fa4cd9fdf8cf4493840ad8b90d90ce72744f199/lib/rspec/matchers/built_in/have_attributes.rb#L73)). But the 'model.fee' will return an object

[2022-02-09 17:13] #1010 closed

[2022-02-18 11:06] lovro-bikic commented on #991
I had similar requirements for historical exchange rates, and I decided to extend money with a separate gem: [money_with_date](https://github.com/infinum/money_with_date/)
Maybe it solves your problems as well.

[2022-03-18 14:47] spencerdcarlson commented on #82
It looks like the [default](https://github.com/RubyMoney/money/blob/main/lib/money/money/formatter.rb#L7) is no longer comma separating thousands. You have to set `thousands_separator:` when calling [format](https://rubydoc.info/gems/money/Money#format-instance_method)

[code]

[2022-04-08 17:15] tagliala opened #1014 "STD has been replaced by STN"
Hi,

I was double checking money's currency table against another table to look for differences and I've noticed that STN is missing

Quoting from: https://en.wikipedia.org/wiki/S%C3%A3o_Tom%C3%A9_and_Pr%C3%ADncipe_dobra

I'm not confident in submitting a PR because I don't know how `smallest_denomination` and maybe other fields should change

[2022-04-20 06:00] perryn commented on #987
I don't think the problem is being understood here. It would be very useful if Money.zero was a special case that could be added or subtracted from another Money, regardless of whether the currency matches.

If I say
`Money.from_amount(1, 'gbp') + Money.from_amount(1, 'usd')`
... then I rightly get an error saying I need to provide a conversion rate. Cool.

However, this ALSO gives me the error (u

[2022-04-20 11:08] semmons99 commented on #987
The special case code would need to be in the operator code and handle Money.zero being on the lhs or rhs. Anyone is welcome to develop a PR with this functionality for review and discussion.

[2022-04-21 02:08] MAKA02 opened #1015 "credit_card_uk"
carding and loading is an act to be done by legitimate people
need verification on how to get quick cc , PayPal transfers and more ?
have you been looking for a place to buy cc and get legit money TRANSFER services like PayPal,  western union and more ?
visit https://t.me/credit_card_uk

[2022-04-26 19:02] deepakhb2 commented on #987
Is anybody working this already? if not, I can work on this. Thanks.

[2022-05-01 21:47] #1014 closed

[2022-06-21 16:58] goulvench opened #1019 "Add a method to get only cents?"
I was expecting the `cents` method to return the cents part of a Money object, but it returns the fractional value instead.

[code]
This should be kept for backwards-compatibility, of course, but would it be possible to add a method to easily get the actual cents from a Money object?

At the moment, it's impossible to use the [internal implementation](https://github.com/RubyMoney/money/blob/35ced9

[2022-07-11 21:38] AntonioSilvaDev opened #1020 "Request Error when using .exchange_to("USD")"
Hi there,

We are seeing a new error when using the .exchange_to method, when it come to USD only.  Ruby on Rails app

Example.
[code]
But exchanging to other currencies works ok
[code]

We are using `money-rails 1.14.0`, `rails 6.1.4.1`.  I can't find any recent merges from money or money-rails gems, so rules out a recent change.

Anyone else experiencing this issue?  Many Thanks!

[2022-07-12 05:20] 23tux opened #1021 "Setting #default_infinite_precision on a per-instance level"
My application **does not use** `Money.default_infinite_precision = true` per default. However, in some cases I need it to be turned on. I haven't found a way to set it on a per-instance base, e.g.:

[code]

For now, I have a special sub-class for this, but it would be nice to set it on a per-instance base.

[code]

[2022-08-01 01:35] OLUMA-EMMANUEL opened #1024 "Go"

[2022-08-01 11:20] tagliala commented on #998
Hi, a new stable release would also include #1014 and that would be appreciated

[2022-08-05 09:42] tagliala opened #1025 "New currency for Sierra Leone: SLE"
Quoting from: https://en.wikipedia.org/wiki/Sierra_Leonean_leone

Quoting from: https://bsl.gov.sl/Redenomination_Rationale.html

Will be fixed by #1023

[2022-08-22 06:04] stebo opened #1027 "Show amount in cents format: BTC -> sats"
I registered BTC in money.rb like shown here https://github.com/RubyMoney/money/issues/710

Now it would be great to sometime show money values in Satoshis instead of BTC or additionaly, e.g. if a user has a very low balance: _0,00000500 BTC -> 500 sats_

I could not find anything in `Money::Formatter` that would allow showing a currency in cents value / with cents symbol... any way to do this or

[2022-08-25 07:14] Hessah95 opened #1028 "symbol_first should be false for KWD, BHD, and OMR"
Could you please change symbol_first to false for KWD, BHD, and OMR

Thanks!

[2022-09-01 12:50] yanina-mosilevich opened #1029 "Marshal dump and ActiveRecord store"
we use ActiveRecord store similar to that one from docs
[code]

As I see [here](https://github.com/RubyMoney/money/blob/main/lib/money/bank/variable_exchange.rb#L69), custom store needs to implement method marshal_dump.
but even if we try to do it in this case - marshal_load ([here](https://github.com/RubyMoney/money/blob/main/lib/money/bank/variable_exchange.rb#L74)) tries to instantiate store ob

[2022-09-20 14:12] JoshReedSchramm commented on #1029
Running into the same issue. The default initializer for the Exchange takes MemoryStore.new (an instance of memory store) but the docs show passing the ExchangeRate class (not an instance). The result is that marshal_dump is undefined because you cant marshal the class object.

I was able to get it working with
[code]

Added to the implementation

[2022-09-21 15:02] yanina-mosilevich commented on #1029
@JoshReedSchramm in this case it breaks loading:
[code]

[2022-09-28 20:27] Mongey opened #1033 "Money::Allocation does not allocate all pennies"
The documentation states that is should allocate all pennies

But it does not.

Here's a test

[code]

Here, we start with 700273, and end with 700272, losing a penny.

[2022-11-03 03:30] saiqulhaq commented on #1024
can we close this issue? @semmons99

[2022-11-03 14:09] semmons99 commented on #1024
definitely

[2022-11-03 14:09] #1024 closed

[2022-11-07 23:48] SnowboardTechie opened #1037 "Czechia (CZE) and Turkiye (TUR) currencies not supported"
Czech republic has changed their name to Czechia which lead to the Czech Koruna CZK now being CZE
Turkey has changed their name to Turkiye leading to the Turkish lira TRY now being TUR
If you check [The World Bank](https://data.worldbank.org/indicator/PA.NUS.PPP), you will see that the country names/currency codes have been updated there.
I don't think deprecating the old currency codes makes sens